Repository bcgov/cirmo-dpia, pull requests merged in 2022-12, with the labels that each got.

#659 [UTOPIA-401] fix home page img over flow issue
  src/frontend/src/pages/PPQPage/PPQPage.scss
Labels: DPIA Web App

#661 UTOPIA-438: Frontend Design Updates
  src/frontend/src/components/public/PIAIntakeResults/index.tsx
  src/frontend/src/components/public/PPQConnect/PPQConnect.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#660 UTOPIA-545: Change Q4 Default Selected Option
  src/frontend/src/pages/PIAIntakeForm/PIAIntakeFormPage.tsx
Labels: DPIA Web App

#664 remove protected route
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#663 [UTOPIA-531] [Backend] [Unit Tests] added pia-intake download pdf endpoint unit tests
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/repository/repository.mock.ts
  src/backend/test/util/mocks/services/pia-intake.service.mock.ts
Labels: DPIA API

#666 UTOPIA-453: Updating actions/checkout to v3
  .github/workflows/build-deploy-api-v2.yaml
  .github/workflows/build-deploy-app-v2.yaml
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-api-test.yaml
  .github/workflows/tag-deploy-app-prod.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#668 UTOPIA-453: Update Redhat Actions
  .github/workflows/build-deploy-api-v2.yaml
Labels: Github Actions

#665 [UTOPIA-565] [Frontend] server replaced from "serve" to "nginx"
  src/frontend/.docker/Dockerfile
  src/frontend/nginx.conf
Labels: DPIA Web App

#669 UTOPIA-453: Troubleshooting New Redhat Actions
  .github/workflows/build-deploy-api-v2.yaml
Labels: Github Actions

#670 UTOPIA-453: Troubleshooting Redhat Github Actions
  .github/workflows/build-deploy-api-v2.yaml
Labels: Github Actions

#673 UTOPIA-455: Redhat Openshift Actions Update
  .github/workflows/build-deploy-api-v2.yaml
  .github/workflows/build-deploy-app-v2.yaml
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-api-test.yaml
  .github/workflows/tag-deploy-app-prod.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#676 UTOPIA-479: UI table design
  src/frontend/src/assets/empty.svg
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/components/public/EmptyPIAList/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/PIAListTable/interface.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/pages/PIAListPage/messages.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_font.scss
  src/frontend/src/sass/_table.scss
  src/frontend/src/sass/common.scss
Labels: enhancement, DPIA Web App

#677 [UTOPIA-540]add a new regex to check class seletcor name to by pass bem error
  src/frontend/.stylelintrc.js
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/pages/LandingPage/LandingPage.tsx
Labels: DPIA Web App

#678 [UTOPIA-481] [Backend] added pia-intake findAll endpoint
  src/backend/src/common/entities/base.entity.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/services/pia-intake.service.mock.ts
Labels: DPIA API

#679 [UTOPIA-568] [Backend] updated unit test code coverage path + add it to gitignore
  .gitignore
  src/backend/package.json
Labels: DPIA API

#680 [Utopia-511] Update button hover states to match branding guidelines
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/ProgressBar/ProgressBar.scss
  src/frontend/src/components/common/ProgressBar/Stage.tsx
  src/frontend/src/components/common/ProgressBar/StagesArray.tsx
  src/frontend/src/components/common/ProgressBar/interfaces.ts
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#675 [Utopia 380] fix protected route
  src/frontend/src/App.tsx
  src/frontend/src/assets/404.png
  src/frontend/src/components/common/NotFound/_notfound.scss
  src/frontend/src/components/common/NotFound/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#672 UTOPIA-558: PIA List — Empty State
  src/frontend/src/components/public/EmptyPIAList/index.tsx
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/pages/PIAListPage/messages.ts
  src/frontend/src/sass/_default.scss
Labels: enhancement, DPIA Web App

#682 UTOPIA-571: Fix Unauthenticated 404 Visual Bug
  src/frontend/src/components/common/NotFound/_notfound.scss
Labels: bug, DPIA Web App

#683 [Utopia 480] integrate with backend to get all list pia
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/PIAListTable/interface.ts
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/types/interfaces/pia-intake.interface.ts
  src/frontend/src/types/interfaces/pia-result.interface.ts
  src/frontend/src/utils/date.ts
Labels: DPIA Web App

#685 UTOPIA-575: PIA List 'Create New +' Redirect
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: bug, DPIA Web App

#686 UTOPIA-578: Hard Code PIA List Submitted Statuses
  src/frontend/src/components/public/PIAListTable/index.tsx
Labels: bug, DPIA Web App

#688 UTOPIA-583: Add Github Action to execute Cypress e2e test suite in DEV
  .github/workflows/build-deploy-app-v2.yaml
Labels: Github Actions

#684 [UTOPIA-567] Added lib Auth and custom Roles Guard affecting all endpoints
  src/backend/.config/.env.local
  src/backend/src/app.config.ts
  src/backend/src/app.module.ts
  src/backend/src/common/decorators/token.decorator.ts
  src/backend/src/common/interfaces/request.interface.ts
  src/backend/src/common/interfaces/response.interface.ts
  src/backend/src/config/config.service.ts
  src/backend/src/modules/auth/auth.module.ts
  src/backend/src/modules/auth/auth.service.ts
  src/backend/src/modules/auth/decorators/roles.decorator.ts
  src/backend/src/modules/auth/guards/roles.guard.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.module.ts
  src/backend/src/modules/ppq/ppq.controller.ts
  src/backend/src/modules/ppq/ppq.module.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
Labels: DPIA API

#687 [UTOPIA-579] [Frontend] All endpoints including Logout behind auth except Login and callback
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/utils/file-download.util.ts
  src/frontend/src/utils/getAccessToken.ts
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#690 UTOPIA-586: Add Cypress E2E Test Suite to TEST promotion Github Action
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#689 UTOPIA-516: Remove the info page flag
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#691 UTOPIA-575: PIA List 'Create New +' Redirect — Rev. 1
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: bug, DPIA Web App

#692 UTOPIA-587: Login directs user to Info page
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/LandingPage/LandingPage.tsx
Labels: bug, DPIA Web App

#693 UTOPIA-588: User cannot see empty state of the table
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: bug, DPIA Web App

#695 [UTOPIA-482, 483, 486] [Backend] Updated pia-intake findAll endpoint to fetch MPOs ministries PIAs
  src/backend/src/common/constants/gov-ministries.constant.ts
  src/backend/src/common/constants/roles.constants.ts
  src/backend/src/common/enums/roles.enum.ts
  src/backend/src/common/enums/users.enum.ts
  src/backend/src/common/helpers/roles.helper.ts
  src/backend/src/common/interfaces/request.interface.ts
  src/backend/src/modules/auth/guards/roles.guard.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#696 [UTOPIA-592] [Backend] [Build Failure fix] Making Health endpoint unprotected
  src/backend/src/health/health.controller.ts
Labels: DPIA API

#694 [Utopia 515] render create new ppq and pia intake form based on role
  src/frontend/src/assets/pia_intake.svg
  src/frontend/src/assets/ppq_homepage.svg
  src/frontend/src/components/common/Breadcrumbs/_breadcrumbs.scss
  src/frontend/src/components/common/Breadcrumbs/index.tsx
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/pages/PPQPage/PPQPage.scss
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/pages/PPQPage/messages.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/types/interfaces/keycloakUserInfo.interface.ts
  src/frontend/src/utils/helper.util.ts
Labels: DPIA Web App

#697 [UTOPIA-590] [Backend] Making Logout unprotected until refresh token implementation is done
  src/backend/src/modules/auth/auth.controller.ts
Labels: DPIA API

#698 [UTOPIA-599] [Backend] Role Guard null check when user has no client roles assigned - Fix
  src/backend/src/modules/auth/guards/roles.guard.ts
Labels: DPIA API

#706 [UTOPIA-615] Code Climate Test generation and upload
  .github/workflows/code-climate.yaml
  README.md
  src/backend/package.json
Labels: DPIA API, Github Actions

#708 [UTOPIA-563] [Backend] [PIA-intake GET BY ID] added endpoint and relevant Tests
  src/backend/src/common/entities/base.entity.ts
  src/backend/src/common/helpers/base-helper.ts
  src/backend/src/common/helpers/utils.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/pia-intake/ro/get-pia-intake.ro.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/backend/test/util/mocks/services/pia-intake.service.mock.ts
  src/backend/test/util/testUtils.ts
  src/backend/tsconfig.json
Labels: DPIA API

#709 Removing Legacy Actions
  .github/workflows/build-deploy-api.yaml
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#702 [UTOPIA-550,552]add url route to view pia intake detail
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_table.scss
Labels: DPIA Web App
