Repository bcgov/cirmo-dpia, pull requests merged in 2022-11, with the labels that each got.

#538 UTOPIA-392, 393, and 394
  src/frontend/src/components/common/Checkbox/_checkbox.scss
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA Web App

#539 UTOPIA-388, 389, 390, & 391: Form Question Order, Form Layout, Form Fonts
  src/frontend/src/components/common/Checkbox/_checkbox.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App

#537 UTOPIA-385: API Automated Unit Tests on PR
  .github/workflows/api-lint.yaml
  .github/workflows/api-unit-test.yaml
  .github/workflows/app-lint.yaml
Labels: Github Actions

#541 Fixing Broken Lint Action
  .github/workflows/api-lint.yaml
Labels: Github Actions

#542 Fixing Broken App Lint
  .github/workflows/app-lint.yaml
Labels: Github Actions

#544 Fixing Broken Lint Actions
  .github/workflows/api-lint.yaml
  .github/workflows/app-lint.yaml
Labels: Github Actions

#545 UPTOPIA-404: Implementing API Environment Variable for Keycloak Auth in DEV
  openshift/templates/api/api-dc-template.yaml
Labels: Openshift

#547 UTOPIA-404: Implementing API Environment Variable for Keycloak Auth in DEV
  openshift/templates/api/api-dc-template.yaml
Labels: Openshift

#546 [UTOPIA-398] [Frontend] Form Bug Fixes
  src/frontend/src/components/common/CustomInputDate/custom_input_date.scss
  src/frontend/src/components/common/CustomInputDate/index.tsx
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/pages/PPQFormPage/messages.ts
  src/frontend/src/sass/common.scss
  src/frontend/src/utils/helper.util.ts
Labels: DPIA Web App

#548 [Frontend] [Common Component] added Custom Alert component
  src/frontend/src/components/common/Alert/_alert.scss
  src/frontend/src/components/common/Alert/index.tsx
  src/frontend/src/components/common/Alert/interfaces.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#550 UTOPIA-387: Form Validation
  src/frontend/.eslintrc.js
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQResults/ppq-result-by-complexity.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA Web App

#551 [Utopia 409] [Common Component] Added Spinner common component + PDF download integration
  src/frontend/src/components/common/Spinner/Spinner.scss
  src/frontend/src/components/common/Spinner/index.tsx
  src/frontend/src/components/common/Spinner/interfaces.ts
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#553 Troubleshooting pipeline bug
  .github/workflows/api-lint.yaml
  .github/workflows/api-unit-test.yaml
  .github/workflows/app-lint.yaml
Labels: Github Actions

#554 Troubleshooting Pipeline Issues
  .github/workflows/api-lint.yaml
  .github/workflows/api-unit-test.yaml
  .github/workflows/app-lint.yaml
Labels: Github Actions

#556 [UTOPIA-414] fixed pdf spacing issue for new pages
  src/backend/src/modules/ppq/templates/ppq-result.pug
Labels: DPIA API

#552 UTOPIA-361-fix navbar styling
  src/frontend/src/components/common/Navbar/index.tsx
Labels: DPIA Web App

#555 UTOPIA-349 & 412: Styling Fixes
  src/frontend/src/App.tsx
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQResults/PPQResults.scss
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage/PPQPage.scss
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/sass/App.scss
Labels: DPIA Web App

#557 UTOPIA-411: Github Environment URL Update for API and APP
  .github/workflows/build-deploy-api.yaml
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#558 UTOPIA-400: View bottom of screen instead of top
  src/frontend/src/components/common/ScrollToTop/index.ts
  src/frontend/src/main.tsx
Labels: DPIA Web App

#560 UTOPIA-442+451: API Template and Github Actions changes for Vault POSTGRES Variables
  .github/helpers/deploy.sh
  .github/workflows/build-deploy-api.yaml
  openshift/templates/api/api-dc-template.yaml
  openshift/templates/api/api-route-template.yaml
  openshift/templates/api/api-service-template.yaml
Labels: Openshift, Github Actions

#549 Utopia 376 & 403 landing page update
  src/frontend/src/App.tsx
  src/frontend/src/components/common/Card/interfaces.ts
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Modal/_modal.scss
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/Modal/interfaces.ts
  src/frontend/src/components/common/ProgressBar/interfaces.ts
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/hooks/useAuth.tsx
  src/frontend/src/hooks/useFtechAuthCode.tsx
  src/frontend/src/hooks/userFetchKeycloakUserInfo.tsx
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/utils/auth.ts
  src/frontend/src/utils/helper.util.ts
Labels: DPIA Web App

#565 UTOPIA-457: Failed Frontend Deployment Due to Vault Secrets
  openshift/templates/app/app-dc-template.yaml
Labels: Openshift

#568 UTOPIA-457: Failed Frontend Deployment Due to Vault Secrets
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#570 UTOPIA-457: Failed Frontend Deployment Due to Vault Secrets
  openshift/templates/app/app-route-template.yaml
  openshift/templates/app/app-service-template.yaml
Labels: Openshift

#564 UTOPIA-428: Update Copy on the PPQ Connect Page
  src/frontend/src/components/public/PPQConnect/PPQConnect.scss
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQConnect/messages.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/sass/_default.scss
Labels: DPIA Web App

#561 UTOPIA-427: Remove the PPQ Results Page
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#572 Rolling Back Vault Changes to Unblock Devs
  openshift/templates/api/api-dc-template.yaml
Labels: Openshift

#567 [UTOPA-431] updated PPQ entity and references to iteration-2
  .github/workflows/api-unit-test.yaml
  .github/workflows/build-deploy-api.yaml
  src/backend/.config/.env.local
  src/backend/README.md
  src/backend/src/common/constants/gov-ministries.constant.ts
  src/backend/src/common/constants/pia-types.constant.ts
  src/backend/src/common/enums/delegated-review-types.enum.ts
  src/backend/src/common/enums/pia-complexity.enum.ts
  src/backend/src/common/enums/pia-types.enum.ts
  src/backend/src/migrations/1667890002398-clear-ppq-table.ts
  src/backend/src/migrations/1667891146340-ppq-iteration-two.ts
  src/backend/src/modules/ppq/constants/ppq-other-factors.constant.ts
  src/backend/src/modules/ppq/dto/ppq-post.dto.ts
  src/backend/src/modules/ppq/entities/ppq.entity.ts
  src/backend/src/modules/ppq/ppq.service.ts
  src/backend/src/modules/ppq/ro/ppq-result.ro.ts
Labels: DPIA API, Github Actions

#574 Typo - False Positive Pipeline Failure
  openshift/templates/api/api-dc-template.yaml
Labels: Openshift

#575 Key Value Pair Error on Deployment Config
  openshift/templates/api/api-dc-template.yaml
Labels: Openshift

#571 [UTOPIA-418] enable strict mode
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/hooks/useFtechAuthCode.tsx
  src/frontend/src/main.tsx
  src/frontend/src/utils/getAccessToken.ts
Labels: DPIA Web App

#576 UTOPIA-430: Questionaire Updates
  src/frontend/src/components/common/Checkbox/_checkbox.scss
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/common/Checkbox/interfaces.ts
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQResults/PPQResults.scss
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/pages/PPQFormPage/messages.ts
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/ts/enums/delegated-review-types.enum.ts
  src/frontend/src/ts/enums/pia-types.enum.ts
  src/frontend/src/ts/interfaces/ppq-form.interface.ts
  src/frontend/src/utils/helper.util.ts
Labels: DPIA Web App

#578 [UTOPIA-429] updated pdf implementation + IDIR user info changes
  src/backend/src/common/constants/delegated-review-types.constant.ts
  src/backend/src/common/entities/base.entity.ts
  src/backend/src/common/swagger.ts
  src/backend/src/migrations/1668449965015-clear-ppq-table-2.ts
  src/backend/src/migrations/1668456855823-ppq-add-user-info.ts
  src/backend/src/modules/auth/auth.module.ts
  src/backend/src/modules/auth/auth.service.ts
  src/backend/src/modules/auth/keycloak-user.model.ts
  src/backend/src/modules/ppq/entities/ppq.entity.ts
  src/backend/src/modules/ppq/ppq.controller.spec.ts
  src/backend/src/modules/ppq/ppq.controller.ts
  src/backend/src/modules/ppq/ppq.module.ts
  src/backend/src/modules/ppq/ppq.service.spec.ts
  src/backend/src/modules/ppq/ppq.service.ts
  src/backend/src/modules/ppq/templates/ppq-result.pug
Labels: DPIA API

#580 [UTOPIA-464] [Frontend] added authentication header to PPQ endpoints
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/utils/file-download.util.ts
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#581 [UTOPIA-463] [API] [code reusability refactor] access token fetch via decorators
  src/backend/src/common/decorators/token.decorator.ts
  src/backend/src/modules/ppq/ppq.controller.ts
  src/backend/src/modules/ppq/ppq.service.ts
Labels: DPIA API

#582 UTOPIA-430: Type Fixes for Build in GitHub Action
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/ts/interfaces/ppq-form.interface.ts
Labels: DPIA Web App

#584 UTOPIA-467: Remove remaining Progress Bars
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQResultsPage.tsx
Labels: DPIA Web App

#583 [Utopia-376] fix landing page
  src/frontend/src/App.tsx
Labels: DPIA Web App

#586 UTOPIA-467: Fixes layout issues created by the removal of the progress bar.
  src/frontend/src/components/public/PPQConnect/PPQConnect.scss
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA Web App

#587 UTOPIA-468: Continuous Integration - Pull Request Docker Build API Image
  .github/workflows/pull-request-docker-build-api.yaml
Labels: Github Actions

#588 UTOPIA-469: Continuous Integration - Pull Request Docker Build App Image
  .github/workflows/pull-request-docker-build-app.yaml
Labels: Github Actions

#589 Utopia 464 Bug fix - Token not working
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#591 UTOPIA-468: Updating Git Action Event
  .github/workflows/pull-request-docker-build-api.yaml
Labels: Github Actions

#590 [UTOPIA-429] [Bug fix]: missing title in pdf
  src/backend/src/modules/ppq/templates/ppq-result.pug
Labels: DPIA API

#592 UTOPIA-468/469: CI Docker Build
  .github/workflows/pull-request-docker-build-api.yaml
  .github/workflows/pull-request-docker-build-app.yaml
Labels: Github Actions

#594 Typo In Action Name
  .github/workflows/dev-build-tag-push-app.yaml
Labels: Github Actions

#595 UTOPIA-470/471: Updating Application Name Variable for Test Pipeline
  .github/workflows/dev-build-tag-push-api.yaml
  .github/workflows/dev-build-tag-push-app.yaml
Labels: Github Actions

#598 Updating Test Pipeline to Point to New Imagestream Objects
  .github/workflows/dev-build-tag-push-api.yaml
  .github/workflows/dev-build-tag-push-app.yaml
Labels: Github Actions

#599 UTOPIA-399: PPQ Questions Update - Patch #1
  src/frontend/src/components/common/Checkbox/_checkbox.scss
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/common/Checkbox/interfaces.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA Web App

#601 UTOPIA-376: Ensure Landing page behaviour is correct - Patch #1
  src/frontend/src/components/common/Navbar/_navbar.scss
Labels: DPIA Web App

#602 Removing Postgres Secrets, Turning off Vault Headers
  openshift/templates/api/api-test-dc-template.yaml
Labels: Openshift

#606 Turn PROD Deploy off APP + API - increment tag script fatal error
  .github/workflows/build-deploy-api.yaml
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#607 Utopia 490: Bug Fix: UX changes
  src/frontend/src/App.tsx
  src/frontend/src/components/public/PPQConnect/PPQConnect.scss
  src/frontend/src/sass/_buttons.scss
Labels: DPIA Web App

#609 [UTOPIA-494] [Frontend] Bug fix: date field in ppq form is not navigable by keyboard; + DISABLE Dark mode
  src/frontend/src/components/common/CustomInputDate/custom_input_date.scss
  src/frontend/src/components/common/CustomInputDate/index.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/sass/index.scss
Labels: DPIA Web App

#610 UPTOPIA-499: Refactor Pipeline
  .github/helpers/deploy.sh
  .github/workflows/build-deploy-api-v2.yaml
  .github/workflows/build-deploy-app-v2.yaml
  openshift/templates/api/api-dc-template-v2.yaml
  openshift/templates/api/api-route-template-v2.yaml
  openshift/templates/api/api-service-template-v2.yaml
  openshift/templates/app/app-dc-template-v2.yaml
  openshift/templates/app/app-route-template-v2.yaml
  openshift/templates/app/app-route-template.yaml
  openshift/templates/app/app-service-template-v2.yaml
  openshift/templates/app/app-service-template.yaml
Labels: Openshift, Github Actions

#611 UTOPIA-499: Pipeline Refactor
  openshift/templates/api/api-route-template-v2.yaml
  openshift/templates/api/api-service-template-v2.yaml
  openshift/templates/app/app-route-template-v2.yaml
  openshift/templates/app/app-service-template-v2.yaml
Labels: Openshift

#612 UTOPIA-499: Pipeline Refactor
  .github/workflows/build-deploy-api-v2.yaml
  .github/workflows/build-deploy-app-v2.yaml
Labels: Github Actions

#613 UTOPIA-499: Pipeline Refactor
  .github/workflows/build-deploy-api-v2.yaml
  .github/workflows/build-deploy-app-v2.yaml
Labels: Github Actions

#615 UTOPIA-499: Pipeline Refactor
  openshift/templates/app/app-dc-template-v2.yaml
Labels: Openshift

#616 UTOPIA-499: Pipeline Refactor
  .github/workflows/build-deploy-app-v2.yaml
Labels: Github Actions

#617 UTOPIA-499: Pipeline Refactor
  openshift/templates/api/api-service-template-v2.yaml
  openshift/templates/app/app-service-template-v2.yaml
Labels: Openshift

#618 UTOPIA-499: Pipeline Refactor
  openshift/templates/api/api-service-template-v2.yaml
  openshift/templates/app/app-service-template-v2.yaml
Labels: Openshift

#619 UTOPIA-499: Pipeline Refactor
  openshift/templates/api/api-route-template-v2.yaml
  openshift/templates/app/app-route-template-v2.yaml
Labels: Openshift

#614 [UTOPIA-490 UX-fix-2] [Frontend] added default width fit-content to buttons
  src/frontend/src/sass/_buttons.scss
Labels: DPIA Web App

#620 UTOPIA-499: Pipeline Refactor
  .github/workflows/build-deploy-api-v2.yaml
  .github/workflows/build-deploy-api.yaml
  .github/workflows/build-deploy-app-v2.yaml
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#608 Utopia 447 read config api
  src/backend/config.local.json
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/components/public/PPQResults/ppq-result-by-complexity.ts
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/hooks/useAuth.tsx
  src/frontend/src/hooks/userFetchKeycloakUserInfo.tsx
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/pages/PPQResultsPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/types/enums/delegated-review-types.enum.ts
  src/frontend/src/types/enums/gov-ministries.enum.ts
  src/frontend/src/types/enums/pia-complexity.enum.ts
  src/frontend/src/types/enums/pia-types.enum.ts
  src/frontend/src/types/interfaces/config.interface.ts
  src/frontend/src/types/interfaces/keyCloakToken.interface.ts
  src/frontend/src/types/interfaces/keycloakUserInfo.interface.ts
  src/frontend/src/types/interfaces/ppq-form.interface.ts
  src/frontend/src/types/interfaces/ppq-result.interface.ts
  src/frontend/src/utils/getAccessToken.ts
  src/frontend/src/utils/helper.util.ts
Labels: DPIA API, DPIA Web App

#625 UTOPIA-499: TEST Pipeline Refactor
  .github/helpers/tag-imagestream.sh
  .github/workflows/tag-deploy-api-test.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#626 UPTOPIA-499: TEST Pipeline Refactor
  .github/workflows/tag-deploy-api-test.yaml
Labels: Github Actions

#630 UTOPIA-471: Pilot Pipeline for WebApp
  .github/workflows/pilot-build-tag-deploy-app.yaml
  openshift/templates/app/pilot/app-dc-template.yaml
  openshift/templates/app/pilot/app-route-template.yaml
  openshift/templates/app/pilot/app-service-template.yaml
Labels: Openshift, Github Actions

#631 UTOPIA-470: Pilot Pipeline for API
  .github/workflows/pilot-build-tag-deploy-api.yaml
  openshift/templates/api/pilot/api-dc-template.yaml
  openshift/templates/api/pilot/api-route-template.yaml
  openshift/templates/api/pilot/api-service-template.yaml
Labels: Openshift, Github Actions

#621 Utopia-511 - CSS standardization with UI/UX guidelines
  src/frontend/src/components/common/Callout/_callout.scss
  src/frontend/src/components/common/Card/_card.scss
  src/frontend/src/components/common/Footer/_footer.scss
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Header/_header.scss
  src/frontend/src/components/common/Modal/_modal.scss
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/public/PPQConnect/PPQConnect.scss
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQResults/PPQResults.scss
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage/PPQPage.scss
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/index.scss
Labels: DPIA Web App

#634 Typos in Git Actions
  .github/workflows/pilot-build-tag-deploy-api.yaml
  .github/workflows/pilot-build-tag-deploy-app.yaml
Labels: Github Actions

#635 UTOPIA-470: Pilot API Pipeline
  .github/workflows/pilot-build-tag-deploy-api.yaml
Labels: Github Actions

#628 [UTOPIA-437] added pia-intake entity
  src/backend/src/common/entities/base.entity.ts
  src/backend/src/migrations/1669269867597-pia-intake-entity.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/ppq/entities/ppq.entity.ts
Labels: DPIA API

#637 UTOPIA-471: WebApp Pilot Pipeline
  .github/workflows/pilot-build-tag-deploy-app.yaml
Labels: Github Actions

#636 [UTOPIA-436] added a POST pia-intake endpoint
  src/backend/src/app.module.ts
  src/backend/src/common/swagger.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/dto/update-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.module.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/pia-intake/ro/create-pia-intake.ro.ts
Labels: DPIA API

#638 [Utopia-520] Updated Landing page to match design
  src/frontend/src/assets/BCGovLogo_negative.svg
  src/frontend/src/assets/public_homepage/hero.svg
  src/frontend/src/assets/public_homepage/hypothesis.svg
  src/frontend/src/assets/public_homepage/problem.svg
  src/frontend/src/assets/public_homepage/vision.svg
  src/frontend/src/components/common/Footer/Footer.tsx
  src/frontend/src/components/common/Footer/_footer.scss
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Header/_header.scss
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App

#622 [Utopia-402] new home page
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/pages/PPQPage/PPQPage.scss
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/pages/PPQPage/messages.ts
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/index.scss
Labels: DPIA Web App

#642 UTOPIA-525: Review Long Running Quota Resources
  openshift/templates/api/api-dc-template-v2.yaml
  openshift/templates/app/app-dc-template-v2.yaml
Labels: Openshift

#645 [UTOPIA-436 fix-1] updated pia-intake dto - riskMitigation and hasAddedPiToDataElements fields optional
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
Labels: DPIA API

#644 [UTOPIA-396]remove back btn in ppq-connect page
  src/frontend/src/components/public/PPQConnect/index.tsx
Labels: DPIA Web App

#643 UTOPIA-433 & 435: Frontend Create Form UI & Integrate Frontend with API Endpoint
  src/frontend/src/components/common/Dropdown/_dropdown.scss
  src/frontend/src/components/common/Dropdown/index.tsx
  src/frontend/src/components/common/Dropdown/interfaces.ts
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PIAIntakeForm/PIAIntakeFormPage.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/sass/index.scss
  src/frontend/src/types/interfaces/pia-intake.interface.ts
  src/frontend/src/types/interfaces/pia-result.interface.ts
Labels: DPIA Web App

#649 UTOPIA-536: Remove PIA Intake NavLink
  src/frontend/src/components/common/Navbar/navPages.ts
Labels: DPIA Web App

#648 [UTOPIA-439] pia-intake pdf download endpoint + pdf refactor
  src/backend/src/common/helpers/pdf-helper.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/pia-intake/templates/pia-intake-result.pug
  src/backend/src/modules/ppq/ppq.controller.ts
  src/backend/src/modules/ppq/ppq.service.ts
  src/backend/src/modules/ppq/templates/ppq-result.pug
Labels: DPIA API

#639 [UTOPIA-527] Introducing unit testing with pia-intake
  src/backend/package.json
  src/backend/src/modules/auth/keycloak-user.model.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/ppq/ppq.controller.spec.ts
  src/backend/src/modules/ppq/ppq.service.spec.ts
  src/backend/test/e2e/app.e2e-spec.ts
  src/backend/test/e2e/jest-e2e.json
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/auth.mock.ts
  src/backend/test/util/mocks/data/base.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/backend/test/util/mocks/repository/repository.mock.ts
  src/backend/test/util/mocks/services/auth.service.mock.ts
  src/backend/test/util/mocks/services/pia-intake.service.mock.ts
  src/backend/test/util/testUtils.ts
Labels: DPIA API

#624 [UTOPIA-438]create pia intake result page
  src/frontend/src/components/public/PIAIntakeResults/index.tsx
  src/frontend/src/components/public/PIAIntakeResults/messages.ts
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/pages/PIAIntakeResultsPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/types/interfaces/pia-intake.interface.ts
Labels: DPIA Web App

#651 [UTOPIA-527-fix-1] build fix: corrected regex to better suite moduleNameMappers
  src/backend/package.json
Labels: DPIA API

#654 [UTOPIA-527-fix-2] build fix: ts compilation fix
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#650 [Utopia 380] add protected route
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#653 UTOPIA-542: Remove text below PIA Intake form title
  src/frontend/src/pages/PIAIntakeForm/PIAIntakeFormPage.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
Labels: DPIA Web App

#656 [UTOPIA-438]update pia intake results page download btn css
  src/frontend/src/components/public/PIAIntakeResults/index.tsx
Labels: DPIA Web App

#655 [UTOPIA-401]fix home page css
  src/frontend/src/pages/PPQPage/PPQPage.scss
  src/frontend/src/pages/PPQPage/PPQPage.tsx
Labels: DPIA Web App

#657 UTOPIA-544: Copy Revision
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
  src/frontend/src/pages/PPQPage/messages.ts
Labels: DPIA Web App
