Repository bcgov/cirmo-dpia, pull requests merged in 2022-08, with the labels that each got.

#351 trying to redeploy api without error
  .github/workflows/build-deploy-api.yaml
  openshift/templates/network-policies/allow-from-openshift-ingress.yaml
  openshift/templates/network-policies/any-to-any.yaml
  openshift/templates/network-policies/any-to-external.yaml
  src/backend/server.js
Labels: DPIA API, Openshift, Github Actions

#352 changing node image for api build
  src/backend/Dockerfile
Labels: DPIA API

#353 updating docker image
  src/backend/Dockerfile
Labels: DPIA API

#356 modiying app.listen()
  src/backend/server.js
Labels: DPIA API

#357 adding localhost as ip
  src/backend/server.js
Labels: DPIA API

#358 adding logic to app.listen()
  src/backend/.env-template
  src/backend/server.js
Labels: DPIA API

#361 Workstation Setup Diff
  .gitignore
  src/frontend/dpia-webapp/Dockerfile
  src/frontend/dpia-webapp/nginx.conf
  src/frontend/dpia-webapp/package-lock.json
  src/frontend/dpia-webapp/package.json
Labels: DPIA Web App

#363 Final Docker Changes
  src/frontend/dpia-webapp/index.html
Labels: DPIA Web App

#364 Dev Pipeline Stability
  .github/workflows/build-deploy-app.yaml
  openshift/templates/app/app-dc-template.yaml
  src/frontend/dpia-webapp/builds/css/common-dpia.css
  src/frontend/dpia-webapp/builds/css/common-dpia.css.map
  src/frontend/dpia-webapp/builds/css/common.css
  src/frontend/dpia-webapp/builds/css/common.css.map
  src/frontend/dpia-webapp/builds/css/public-pid.css
  src/frontend/dpia-webapp/builds/css/public-pid.css.map
  src/frontend/dpia-webapp/builds/js/production/public_pid.bundle.js
  src/frontend/dpia-webapp/builds/js/production/public_pid.bundle.js.LICENSE.txt
  src/frontend/dpia-webapp/builds/js/production/public_pid.js
  src/frontend/dpia-webapp/builds/js/production/publicpid.js
  src/frontend/dpia-webapp/builds/js/publicpid.js
Labels: DPIA Web App, Openshift, Github Actions

#365 removing image tag from name of service/route
  openshift/templates/app/app-dc-template.yaml
  openshift/templates/app/app-route-template.yaml
  openshift/templates/app/app-service-template.yaml
Labels: Openshift

#368 comment typo
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#369 Code Cleanup
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#370 create new hash
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#371 adding hash label to container/pod
  openshift/templates/app/app-dc-template.yaml
Labels: Openshift

#373 code diff
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#374 altering cleanup script and cleanup job/tasks
  .github/helpers/cleanup.sh
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#376 Test Environment Enable
  .github/helpers/cleanup-pods.sh
  .github/helpers/cleanup-rc.sh
  .github/helpers/cleanup.sh
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#380 cleaned up tagging process, removing tag prod helper script
  .github/helpers/tag-imagestream-release.sh
  .github/helpers/tag-imagestream.sh
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#382 env var string typo
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#388 typo in environment url field
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#391 Cleaning up DEV API Jobs
  .github/workflows/build-deploy-api.yaml
Labels: Github Actions

#401 generating diff
  .github/workflows/build-deploy-api.yaml
Labels: Github Actions

#405 base image
  src/frontend/dpia-webapp/Dockerfile
Labels: DPIA Web App

#406 adding nginx user
  src/frontend/dpia-webapp/Dockerfile
Labels: DPIA Web App

#408 Docker unit
  docker-entrypoint.sh
  src/frontend/dpia-webapp/Dockerfile
  src/frontend/dpia-webapp/unitd-conf.json
Labels: DPIA Web App

#409 Update Dockerfile
  src/frontend/dpia-webapp/Dockerfile
Labels: DPIA Web App

#410 Update Dockerfile
  src/frontend/dpia-webapp/Dockerfile
Labels: DPIA Web App

#411 Update Dockerfile
  src/frontend/dpia-webapp/Dockerfile
Labels: DPIA Web App

#412 Update Dockerfile
  src/frontend/dpia-webapp/Dockerfile
Labels: DPIA Web App

#413 Update Dockerfile
  src/frontend/dpia-webapp/Dockerfile
Labels: DPIA Web App
