Repository bcgov/cirmo-dpia, pull requests merged in 2022-09, with the labels that each got.

#415 Docker unit
  src/frontend/dpia-webapp/Dockerfile
  src/frontend/dpia-webapp/main.js
Labels: DPIA Web App

#416 Updated sass files, include sass-breakpoint and added stackoverflow link
  src/frontend/dpia-webapp/Makefile
  src/frontend/dpia-webapp/app/common/sass/_login.scss
  src/frontend/dpia-webapp/app/common/sass/_variables.scss
  src/frontend/dpia-webapp/app/common/sass/common.scss
  src/frontend/dpia-webapp/app/public/login/index.nj
  src/frontend/dpia-webapp/assets/images/logo-stackoverflow.svg
  src/frontend/dpia-webapp/package-lock.json
  src/frontend/dpia-webapp/package.json
Labels: DPIA Web App

#421 Cleaning up Actions
  .github/workflows/api-docker.yaml
  .github/workflows/app-docker.yaml
  .github/workflows/code-coverage.yaml
  .github/workflows/codeql.yml
  .github/workflows/snyk.yaml
Labels: Github Actions

#420 Update frontend Readme file
  src/frontend/dpia-webapp/README.md
  src/frontend/dpia-webapp/wiki/assets/images/code-generation-workflow.jpg
Labels: DPIA Web App

#424 Brandon 404 page
  package-lock.json
  src/frontend/dpia-webapp/app/public/404/index.nj
  src/frontend/dpia-webapp/config.json
  src/frontend/dpia-webapp/main.js
  src/frontend/dpia-webapp/route.json
Labels: DPIA Web App

#428 UTOPIA-21: Onboard EY Team into Git Repo Team
  .github/workflows/pull-request-auto-assign.yaml
Labels: Github Actions

#430 UTOPIA-247: Adding Brandon Bouchard to Github Contributors List
  .github/workflows/pull-request-auto-assign.yaml
Labels: Github Actions

#427 UTOPIA-22: Onboard EY Teams into Openshift namespaces
  openshift/templates/rolebindings/bcgov-admin.yaml
  openshift/templates/rolebindings/bcgov-edit.yaml
  openshift/templates/rolebindings/ey-edit-rolebinding.yaml
  openshift/templates/rolebindings/ey-view-rolebinding.yaml
Labels: Openshift

#431 UTOPIA-217: Init ReactJS Project
  src/frontend/.gitignore
  src/frontend/index.html
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/vite.svg
  src/frontend/src/App.css
  src/frontend/src/App.tsx
  src/frontend/src/assets/react.svg
  src/frontend/src/index.css
  src/frontend/src/main.tsx
  src/frontend/src/vite-env.d.ts
  src/frontend/tsconfig.json
  src/frontend/tsconfig.node.json
  src/frontend/vite.config.ts
Labels: DPIA Web App

#432 UTOPIA-209: Rollback Express API in Git Repo
  .gitignore
  src/backend/.eslintrc.js
  src/backend/.prettierrc
  src/backend/README.md
  src/backend/nest-cli.json
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/server.js
  src/backend/src/app.controller.spec.ts
  src/backend/src/app.controller.ts
  src/backend/src/app.module.ts
  src/backend/src/app.service.ts
  src/backend/src/main.ts
  src/backend/swagger/conf.js
  src/backend/test/app.e2e-spec.ts
  src/backend/test/jest-e2e.json
  src/backend/test/test.js
  src/backend/tsconfig.build.json
  src/backend/tsconfig.json
  src/backend/versions/v1/routes/healthcheck.js
  src/backend/versions/v1/routes/routeImports.js
Labels: DPIA API

#433 UTOPIA-218: ReactJS Dockerfile
  docker-compose.yaml
  src/frontend/Dockerfile
  src/frontend/package.json
  src/frontend/src/App.scss
  src/frontend/src/App.tsx
  src/frontend/src/index.scss
Labels: DPIA Web App, Docker

#438 UTOPIA 257: Remove Failing Auto Assign Github Action from Repository
  .github/workflows/pull-request-auto-assign.yaml
Labels: Github Actions

#439 UTOPIA 258: Add Auto Assign Action With Config to Github Actions
  .github/auto-action-config.yaml
  .github/workflows/auto-assign.yaml
Labels: Github Actions

#436 UTOPIA-255: Pull CSS in SASS folder
  .gitignore
  src/frontend/.gitignore
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/main.tsx
  src/frontend/src/sass/App.scss
  src/frontend/src/sass/_bootstrap_variables.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_font.scss
  src/frontend/src/sass/_footer.scss
  src/frontend/src/sass/_header.scss
  src/frontend/src/sass/_login.scss
  src/frontend/src/sass/_root.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/sass/index.scss
Labels: DPIA Web App

#437 Utopia 210: Init NestJS API Project
  src/backend/Dockerfile
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/app.config.ts
  src/backend/src/common/swagger.ts
  src/backend/src/main.ts
Labels: DPIA API

#442 Adding bootstrap from CDN and not npm
  src/frontend/index.html
Labels: DPIA Web App

#441 UTOPIA-211-add http health check endpoint
  .gitignore
  src/backend/src/app.module.ts
  src/backend/src/common/swagger.ts
  src/backend/src/health/health.controller.spec.ts
  src/backend/src/health/health.controller.ts
  src/backend/src/health/health.module.ts
Labels: DPIA API

#443 UTOPIA-252: Add BC Gov CSS Styles
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_footer.scss
  src/frontend/src/sass/_header.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App
