Repository bcgov/cirmo-dpia, pull requests merged in 2022-10, with the labels that each got.

#449 Utopia 259: Create Header and Footer common components
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/assets/BC_Logo_Horizontal.svg
  src/frontend/src/components/common/Footer.tsx
  src/frontend/src/components/common/Header.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_footer.scss
  src/frontend/src/sass/_header.scss
Labels: enhancement, DPIA Web App

#446 Utopia 261 add husky with airbnb config
  .husky/pre-commit
  src/backend/.eslintignore
  src/backend/.eslintrc.js
  src/backend/.husky/pre-commit
  src/backend/.prettierignore
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/app.config.ts
  src/backend/src/app.controller.spec.ts
  src/backend/src/app.controller.ts
  src/backend/src/app.module.ts
  src/backend/src/common/swagger.ts
  src/backend/src/health/health.controller.spec.ts
  src/backend/src/health/health.controller.ts
  src/backend/src/health/health.module.ts
  src/backend/test/app.e2e-spec.ts
Labels: DPIA API

#450 UTOPIA-221: Deploy React JS Frontend to Openshift via Github Actions
  docker-compose.yaml
Labels: DPIA Web App, Docker

#451 Utopia 214: Deploy NestJS to Openshift via Github Actions
  Makefile
  README.md
  docker-compose.local.yaml
  docker-compose.yaml
  openshift/templates/api/api-dc-template.yaml
  openshift/templates/api/api-route-template.yaml
  src/backend/.docker/Dockerfile
  src/backend/.docker/Dockerfile.local
Labels: Openshift

#452 UTOPIA-221 (v2): Deploy React JS Frontend to Openshift via Github Actions
  Makefile
  docker-compose.local.yaml
  docker-compose.yaml
Labels: Openshift

#453 UTOPIA-182: BC Gov Branded Landing Page
  src/frontend/src/App.tsx
  src/frontend/src/assets/hero-img.svg
  src/frontend/src/assets/undraw_fill_form.svg
  src/frontend/src/assets/undraw_new_ideas.svg
  src/frontend/src/assets/undraw_shared_goals.svg
  src/frontend/src/assets/undraw_web_search.svg
  src/frontend/src/components/common/Header.tsx
  src/frontend/src/pages/LandingPage.tsx
  src/frontend/src/sass/App.scss
  src/frontend/src/sass/LandingPage.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_header.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
Labels: enhancement, DPIA Web App

#454 UTOPIA-187: See links to existing Privacy Information
  src/frontend/src/pages/LandingPage.tsx
Labels: enhancement, DPIA Web App

#455 UTOPIA-193: Who is involved in the DPIA
  src/frontend/src/pages/LandingPage.tsx
Labels: enhancement, DPIA Web App

#456 UTOPIA-214: Deploy NestJS to Openshift via Github Actions (PR-2)
  .github/workflows/build-deploy-api.yaml
  Makefile
  openshift/templates/api/api-dc-template.yaml
  openshift/templates/api/api-route-template.yaml
  src/backend/src/main.ts
Labels: DPIA API, Openshift, Github Actions

#457 UTOPIA-269: Add Callout to Landing Page
  src/frontend/src/pages/LandingPage.tsx
  src/frontend/src/sass/LandingPage.scss
Labels: DPIA Web App

#463 UTOPIA-301: Create components for use within Progress Bar
  src/frontend/src/components/public/ProgressBar/Stage.tsx
  src/frontend/src/components/public/ProgressBar/Stages.tsx
  src/frontend/src/components/public/ProgressBar/interfaces.ts
Labels: enhancement, DPIA Web App

#464 Local env - Postgres configuration
  docker-compose.local.yaml
  src/backend/.config/.env.local
Labels: Docker

#465 Utopia 229 ppq
  .gitignore
  .husky/pre-commit
  src/backend/.husky/pre-commit
  src/backend/.prettierrc
  src/backend/package-lock.json
  src/backend/package.json
  src/frontend/.eslintignore
  src/frontend/.eslintrc.js
  src/frontend/.prettierignore
  src/frontend/.prettierrc
  src/frontend/.stylelintignore
  src/frontend/.stylelintrc.js
  src/frontend/cypress.config.ts
  src/frontend/cypress/component/common/footer.cy.tsx
  src/frontend/cypress/component/common/header.cy.tsx
  src/frontend/cypress/component/pages/LandingPage.cy.tsx
  src/frontend/cypress/component/pages/ppqpage.cy.tsx
  src/frontend/cypress/fixtures/example.json
  src/frontend/cypress/support/commands.ts
  src/frontend/cypress/support/component-index.html
  src/frontend/cypress/support/component.ts
  src/frontend/cypress/support/index.ts
  src/frontend/cypress/tsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/assets/ppq_homepage.svg
  src/frontend/src/components/common/Footer.tsx
  src/frontend/src/components/common/Header.tsx
  src/frontend/src/components/public/ProgressBar/Stage.tsx
  src/frontend/src/components/public/ProgressBar/Stages.tsx
  src/frontend/src/components/public/ProgressBar/interfaces.ts
  src/frontend/src/main.tsx
  src/frontend/src/pages/LandingPage.tsx
  src/frontend/src/pages/PPQPage.tsx
  src/frontend/src/sass/App.scss
  src/frontend/src/sass/LandingPage.scss
  src/frontend/src/sass/PPQPage.scss
  src/frontend/src/sass/_bootstrap_variables.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_font.scss
  src/frontend/src/sass/_footer.scss
  src/frontend/src/sass/_header.scss
  src/frontend/src/sass/_login.scss
  src/frontend/src/sass/_root.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/sass/index.scss
  src/frontend/tsconfig.json
Labels: DPIA API, DPIA Web App

#461 UTOPIA-274: Create custom hook for handling the state of the progress bar.
  src/frontend/src/hooks/useProgressBar.ts
Labels: enhancement, DPIA Web App

#469 fix vite build to exclude cypress files
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/tsconfig.json
Labels: DPIA Web App

#468 UTOPIA-305: Progress Bar styling
  src/frontend/package-lock.json
  src/frontend/src/components/public/ProgressBar/Stage.tsx
  src/frontend/src/components/public/ProgressBar/Stages.tsx
  src/frontend/src/components/public/ProgressBar/StagesArray.tsx
  src/frontend/src/components/public/ProgressBar/interfaces.ts
  src/frontend/src/sass/LandingPage.scss
  src/frontend/src/sass/ProgressBar.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_footer.scss
  src/frontend/src/sass/_header.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
Labels: enhancement, DPIA Web App

#470 fix route for ppq landing page
  src/frontend/src/main.tsx
Labels: DPIA Web App

#467 Utopia-306: [Backend] Create PPQ schema and module structure
  docker-compose.local.yaml
  src/backend/.config/.env.local
  src/backend/README.md
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/app.config.ts
  src/backend/src/app.module.ts
  src/backend/src/common/entities/base.entity.ts
  src/backend/src/common/enums/gov-ministries.enum.ts
  src/backend/src/common/enums/pia-types.enum.ts
  src/backend/src/common/enums/yes-no-not-sure.enum.ts
  src/backend/src/common/enums/yes-no.enum.ts
  src/backend/src/common/paginated.ro.ts
  src/backend/src/common/swagger.ts
  src/backend/src/config/config.service.ts
  src/backend/src/config/data-source.ts
  src/backend/src/migrations/1665787537849-Ppq.ts
  src/backend/src/modules/ppq/dto/ppq-post.dto.ts
  src/backend/src/modules/ppq/entities/ppq.entity.ts
  src/backend/src/modules/ppq/enums/ppq-other-factors.enum.ts
  src/backend/src/modules/ppq/enums/ppq-pia-types.enum.ts
  src/backend/src/modules/ppq/ppq.controller.spec.ts
  src/backend/src/modules/ppq/ppq.controller.ts
  src/backend/src/modules/ppq/ppq.module.ts
  src/backend/src/modules/ppq/ppq.service.spec.ts
  src/backend/src/modules/ppq/ppq.service.ts
Labels: DPIA API

#473 Update api-dc-template.yaml
  .github/helpers/deploy.sh
  .github/workflows/build-deploy-api.yaml
  openshift/templates/api/api-dc-template.yaml
Labels: Openshift, Github Actions

#480 Updating Paramter in API kubernetes template
  openshift/templates/api/api-dc-template.yaml
Labels: Openshift

#481 Adding Database Service to templates
  openshift/templates/api/api-route-template.yaml
  openshift/templates/api/api-service-template.yaml
Labels: Openshift

#476 UTOPIA-313: Dynamicly Populate PPQ Result fields
  src/backend/src/common/enums/pia-complexity.enum.ts
  src/backend/src/common/enums/yes-no-not-sure.enum.ts
  src/backend/src/common/enums/yes-no.enum.ts
  src/backend/src/migrations/1666070281025-Ppq-linear-schema.ts
  src/backend/src/modules/ppq/dto/ppq-post.dto.ts
  src/backend/src/modules/ppq/entities/ppq.entity.ts
  src/backend/src/modules/ppq/enums/ppq-other-factors.enum.ts
  src/backend/src/modules/ppq/enums/ppq-pia-types.enum.ts
  src/backend/src/modules/ppq/ppq.controller.spec.ts
  src/backend/src/modules/ppq/ppq.controller.ts
  src/backend/src/modules/ppq/ppq.service.spec.ts
  src/backend/src/modules/ppq/ppq.service.ts
  src/backend/src/modules/ppq/ro/ppq-result.ro.ts
  src/backend/src/test-utils/repository.mock.ts
Labels: DPIA API

#475 UTOPIA-236: Know what what the next steps are .. complexity, time, signatures
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/common/Callout/index.tsx
  src/frontend/src/components/common/Callout/interfaces.ts
  src/frontend/src/components/common/Card/index.tsx
  src/frontend/src/components/common/Card/interfaces.ts
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/components/public/PPQResults/test-ppq-results.ts
  src/frontend/src/components/public/ProgressBar/interfaces.ts
  src/frontend/src/pages/LandingPage.tsx
  src/frontend/src/sass/App.scss
  src/frontend/src/sass/Callout.scss
  src/frontend/src/sass/Card.scss
  src/frontend/src/sass/LandingPage.scss
  src/frontend/src/sass/PPQResults.scss
  src/frontend/src/sass/ProgressBar.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#484 Adding Database Service to APP Template
  openshift/templates/app/app-dc-template.yaml
  src/frontend/Dockerfile
Labels: DPIA Web App, Openshift

#485 Removes esbuild-arm64 dependency from package.json and package-lock.json
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#486 Adding POSTGRES Connection Env Variables as Secret
  .github/helpers/deploy.sh
  .github/workflows/build-deploy-api.yaml
  openshift/templates/api/api-dc-template.yaml
  openshift/templates/api/api-route-template.yaml
  openshift/templates/api/api-service-template.yaml
Labels: Openshift, Github Actions

#487 Creating diff to re-fire FRESH pipeline
  src/frontend/Dockerfile
Labels: DPIA Web App

#489 Revert "temp-remove-migrations-on-startup"
  src/backend/package.json
Labels: DPIA API

#490 auto run migrations on non local envs
  src/backend/package.json
  src/backend/src/config/config.service.ts
Labels: DPIA API

#491 Update Readiness and Liveness Probes on API Deployment Config
  openshift/templates/api/api-dc-template.yaml
Labels: Openshift

#492 Utopia 234: List of MPO
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/sass/Card.scss
  src/frontend/src/sass/PPQConnect.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/sass/index.scss
Labels: DPIA Web App

#494 Changing Openshift API route to serve at api-docs
  openshift/templates/api/api-route-template.yaml
Labels: Openshift

#477 Utopia 307 ppq form
  src/frontend/.dockerignore
  src/frontend/.eslintrc.js
  src/frontend/cypress/component/common/PPQNavBar.cy.tsx
  src/frontend/cypress/component/pages/ppqpage.cy.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/common/PPQNavBar.tsx
  src/frontend/src/components/public/ProgressBar/Stage.tsx
  src/frontend/src/components/public/ProgressBar/StagesArray.tsx
  src/frontend/src/components/public/ProgressBar/interfaces.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/hooks/useProgressBar.ts
  src/frontend/src/main.tsx
  src/frontend/src/pages/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/LandingPage.scss
  src/frontend/src/sass/PPQFormPage.scss
  src/frontend/src/sass/PPQNavBar.scss
  src/frontend/src/sass/PPQPage.scss
  src/frontend/src/sass/ProgressBar.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_footer.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
  src/frontend/vite.config.ts
Labels: DPIA Web App

#497 Utopia 229 ppq update
  src/frontend/src/components/common/Callout/index.tsx
  src/frontend/src/components/common/Card/index.tsx
  src/frontend/src/components/common/Card/interfaces.ts
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/components/public/PPQResults/test-ppq-results.ts
  src/frontend/src/components/public/ProgressBar/interfaces.ts
  src/frontend/src/pages/LandingPage.tsx
  src/frontend/src/pages/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage.tsx
  src/frontend/src/sass/PPQPage.scss
Labels: DPIA Web App

#500 Create pages for the results and connect components
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/pages/LandingPage.tsx
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQFormPage.tsx
  src/frontend/src/pages/PPQResultsPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/PPQConnect.scss
  src/frontend/src/sass/PPQResults.scss
  src/frontend/src/sass/ProgressBar.scss
Labels: DPIA Web App

#501 Sample pdf render
  src/frontend/src/assets/sample-ppq-result.pdf
  src/frontend/src/components/public/PPQConnect/index.tsx
Labels: DPIA Web App

#502 Puts window.open in the pdf button inside an anonymous function.
  src/frontend/src/components/public/PPQConnect/index.tsx
Labels: DPIA Web App

#504 UTOPIA-347: Fix PPQ Form Radio Buttons
  src/frontend/src/pages/PPQFormPage.tsx
Labels: DPIA Web App

#498 Utopia 307 integrate with api
  docker-compose.local.yaml
  src/backend/src/app.config.ts
  src/backend/src/main.ts
  src/frontend/.config/.env.local
  src/frontend/.docker/Dockerfile.local
  src/frontend/src/components/common/CheckBox.tsx
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage.tsx
  src/frontend/src/pages/PPQResultsPage.tsx
  src/frontend/src/sass/Checkbox.scss
  src/frontend/src/sass/common.scss
Labels: DPIA API, DPIA Web App

#505 UTOPIA-350: Adjust Results component Card spacing to reflect design changes
  src/frontend/src/components/common/Card/index.tsx
  src/frontend/src/components/public/PPQResults/test-ppq-results.ts
  src/frontend/src/sass/PPQConnect.scss
  src/frontend/src/sass/PPQResults.scss
Labels: DPIA Web App

#510 UTOPIA-263: Hints & Definitions
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/common/CheckBox.tsx
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/common/Checkbox/interfaces.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/main.tsx
  src/frontend/src/pages/PPQFormPage.tsx
  src/frontend/src/sass/Checkbox.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/sass/index.scss
Labels: DPIA Web App

#506 307-only enable cors for localhost
  src/backend/src/app.config.ts
Labels: DPIA API

#512 UTOPIA-361: NavBar Refactor / Styling
  src/frontend/src/App.tsx
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Navbar/interfaces.ts
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/components/common/PPQNavBar.tsx
  src/frontend/src/main.tsx
  src/frontend/src/pages/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/PPQFormPage.scss
  src/frontend/src/sass/PPQNavBar.scss
  src/frontend/src/sass/PPQPage.scss
  src/frontend/src/sass/ProgressBar.scss
  src/frontend/src/sass/_navbar.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#513 UTOPIA-368: Single Base URL Route Creation (Frontend)
  openshift/templates/app/app-route-template.yaml
Labels: Openshift

#514 UTOPIA-369: Single Base URL Route Creation (API)
  openshift/templates/api/api-route-template.yaml
Labels: Openshift

#511 Utopia 273 export ppq results pdf
  src/backend/.docker/Dockerfile
  src/backend/.docker/Dockerfile.local
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/assets/BC_logo_Horizontal.png
  src/backend/src/common/constants/gov-ministries.constant.ts
  src/backend/src/common/constants/pia-types.constant.ts
  src/backend/src/common/helpers/date-helper.ts
  src/backend/src/modules/ppq/constants/ppq-other-factors.constant.ts
  src/backend/src/modules/ppq/dto/ppq-post.dto.ts
  src/backend/src/modules/ppq/ppq.controller.ts
  src/backend/src/modules/ppq/ppq.service.ts
  src/backend/src/modules/ppq/templates/ppq-result.pug
Labels: DPIA API

#508 307 refactor fe api fetch
  Makefile
  docker-compose.local.yaml
  package-lock.json
  src/frontend/.config/.env.local
  src/frontend/.docker/Dockerfile.local
  src/frontend/.eslintrc.js
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/constant/api.ts
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/ts/enums/gov-ministries.enum.ts
  src/frontend/src/ts/enums/pia-types.enum.ts
  src/frontend/src/ts/interfaces/ppq-form.interface.ts
  src/frontend/src/ts/interfaces/ppq-submission.interface.ts
  src/frontend/src/utils/requestUtil.ts
  src/frontend/tsconfig.eslint.json
  src/frontend/vite.config.ts
Labels: DPIA Web App

#518 [UTOPIA-370] [Docker] refactoring frontend docker file
  docker-compose.yaml
  src/frontend/.docker/Dockerfile
Labels: Docker

#519 [UTOPIA-273] [Backend] fix pdf output when proposedStartDate field is null
  src/backend/src/modules/ppq/ppq.service.ts
Labels: DPIA API

#520 UTOPIA-375:update ppq connect page done button behavior
  src/frontend/src/components/public/PPQConnect/index.tsx
Labels: DPIA Web App

#521 UTOPIA-374:remove home button from nav bar
  src/frontend/src/components/common/Navbar/navPages.ts
Labels: DPIA Web App

#522 [UTOPIA-377] [Frontend] added pdf endpoint integration + lint + refactor
  src/frontend/src/components/common/Card/index.tsx
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/components/public/ProgressBar/Stage.tsx
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQFormPage.tsx
  src/frontend/src/pages/PPQResultsPage.tsx
  src/frontend/src/ts/interfaces/ppq-result.interface.ts
  src/frontend/src/ts/interfaces/ppq-submission.interface.ts
  src/frontend/src/utils/file-download.util.ts
  src/frontend/src/utils/http-request.util.ts
  src/frontend/src/utils/requestUtil.ts
Labels: DPIA Web App

#524 vite build fix
  src/frontend/src/utils/file-download.util.ts
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#525 UTOPIA-234: List of MPOs -- Changes to meet AC
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/sass/PPQConnect.scss
Labels: DPIA Web App

#526 UTOPIA-272: Form Progress Bar -- Changes
  src/frontend/src/App.tsx
  src/frontend/src/components/common/Callout/_callout.scss
  src/frontend/src/components/common/Card/_card.scss
  src/frontend/src/components/common/Checkbox/_checkbox.scss
  src/frontend/src/components/common/Footer/Footer.tsx
  src/frontend/src/components/common/Footer/_footer.scss
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Header/_header.scss
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/common/ProgressBar/ProgressBar.scss
  src/frontend/src/components/common/ProgressBar/Stage.tsx
  src/frontend/src/components/common/ProgressBar/StagesArray.tsx
  src/frontend/src/components/common/ProgressBar/interfaces.ts
  src/frontend/src/components/public/PPQConnect/PPQConnect.scss
  src/frontend/src/components/public/PPQResults/PPQResults.scss
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/PPQConnectPage.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage/PPQPage.scss
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/pages/PPQResultsPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#528 [UTOPIA-378] [Frontend] Added fix to md editor overlaying the nav
  src/frontend/src/components/common/Navbar/_navbar.scss
Labels: DPIA Web App

#529 UTOPIA-263: Hints & Definitions
  src/frontend/src/constant/constant.ts
Labels: DPIA Web App

#530 [UTOPIA-381] Added migration and changes to remove fields not required anymore
  src/backend/src/migrations/1666983517409-ppq-form-update-other-factors-fields.ts
  src/backend/src/modules/ppq/constants/ppq-other-factors.constant.ts
  src/backend/src/modules/ppq/dto/ppq-post.dto.ts
  src/backend/src/modules/ppq/entities/ppq.entity.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/ts/interfaces/ppq-form.interface.ts
Labels: DPIA API, DPIA Web App

#533 UTOPIA-385: API Automated Unit Tests on Pull Request
  .github/workflows/api-unit-test.yaml
Labels: Github Actions

#534 UTOPIA-382: Automated Linting on Pull Request
  .github/workflows/api-lint.yaml
  .github/workflows/app-lint.yaml
Labels: Github Actions
