Repository bcgov/cirmo-dpia, pull requests merged in 2023-07, with the labels that each got.

#1339 Update checkbox alignement
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
Labels: DPIA Web App

#1340 Utopia 1254 - Info banner still present
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1308 UTOPIA-782: Modifying Emerald Git Actions to Accomodate Tekton Deployment Triggers
  .github/workflows/emerald-build-push-api.yaml
  .github/workflows/emerald-build-push-app.yaml
Labels: Github Actions

#1286 UTOPIA-782: Tekton Objects
  openshift/templates/tekton-pipeline/api/event-listener.yaml
  openshift/templates/tekton-pipeline/api/pipeline-process-apply-task.yaml
  openshift/templates/tekton-pipeline/api/pipeline.yaml
  openshift/templates/tekton-pipeline/api/route.yaml
  openshift/templates/tekton-pipeline/api/service.yaml
  openshift/templates/tekton-pipeline/api/task.yaml
  openshift/templates/tekton-pipeline/api/trigger-binding.yaml
  openshift/templates/tekton-pipeline/api/trigger-template.yaml
  openshift/templates/tekton-pipeline/api/trigger.yaml
Labels: Openshift

#1341 UTOPIA-782: Typo
  .github/workflows/emerald-build-push-api.yaml
Labels: Github Actions

#1342 Disable review tab for PI till PI review is completed
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
Labels: DPIA Web App

#1345 UTOPIA-782: Removing Secret from Tekton Trigger
  .github/workflows/emerald-build-push-api.yaml
Labels: Github Actions

#1343 click clear will remove review note and uncheck the checkbox
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
Labels: DPIA Web App

#1347 [UTOPIA-1257] update the implementation for clear button for mpo review
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
Labels: DPIA Web App

#1349 UTOPIA-782: Adding Correct Syntax for Environment Variable
  .github/helpers/trigger-tekton.sh
  .github/workflows/emerald-build-push-api.yaml
Labels: Github Actions

#1353 utopia-1135 - Reset search query to page 1 when searching
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: DPIA Web App

#1352 UTOPIA-1205 Fix existing errors on auth and unauth features
  .github/workflows/app-e2e.yaml
  .github/workflows/tag-deploy-app-test.yaml
  src/frontend/test/features/featurefiles/e2e/UTOPIA-584_SearchSortFilter.feature
  src/frontend/test/features/pageobjects/authenticated.page.js
  src/frontend/test/features/pageobjects/login.page.js
  src/frontend/test/features/pageobjects/page.js
  src/frontend/wdio.conf.js
Labels: DPIA Web App, Github Actions

#1354 Utopia-1132 Reset page number when changing search filters
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/interfaces.ts
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: DPIA Web App

#1355 Utopia-992 fix Underscores in status dropdown filter
  src/frontend/src/constant/constant.ts
Labels: DPIA Web App

#1356 Utopia-1031 Missing external link on Next Steps
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsDelegatedFlow.tsx
Labels: DPIA Web App

#1358 Utopia-1264 Modals not updated moving from Final Review > MPO review …
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/interface.ts
  src/frontend/src/components/public/StatusChangeDropDown/populateModal.tsx
  src/frontend/src/pages/PIAForm/BannerStatus/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1363 Utopia-1031 Added external link icon
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsDelegatedFlow.tsx
Labels: DPIA Web App

#1360 UTOPIA-1181: (frontend) create missing UI
  src/frontend/src/components/common/Checkbox/_checkbox.scss
  src/frontend/src/components/public/PIAFormTabs/review/editProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/review/messages.ts
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewReviewSection.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/utils/object-modification.util.ts
Labels: DPIA Web App

#1362 Utopia-1134 Filter labels do not reset when list page link clicked
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/interfaces.ts
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: DPIA Web App

#1372 UTOPIA-1154: Disallow URL navigation to Edit mode when in Signature mode
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1357 [UTOPIA-1174] update review tab for pi pia
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1373 Utopia-1279 - Fix edit link issues when in review tab
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/path.ts
Labels: DPIA Web App

#1374 [BACKEND] allow changing status of a DELEGATED PIA from MPO_REVIEW to CPO_REVIEW
  src/backend/src/modules/pia-intake/metadata/pia-status.metadata.ts
Labels: DPIA API

#1375 [UTOPIA-1168] and Status changes for PI PIA / CPO
  src/backend/src/common/enums/size.enum.ts
  src/backend/src/common/helpers/get-nested-helper.ts
  src/backend/src/modules/pia-intake/helper/check-field-validations.ts
  src/backend/src/modules/pia-intake/helper/handle-pia-status-change.ts
  src/backend/src/modules/pia-intake/helper/handle-pia-updates.ts
  src/backend/src/modules/pia-intake/helper/validate-conditions.ts
  src/backend/src/modules/pia-intake/jsonb-classes/review/mpo-review.ts
  src/backend/src/modules/pia-intake/jsonb-classes/review/role-review.ts
  src/backend/src/modules/pia-intake/metadata/pia-status.metadata.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/handle-pia-updates.spec.ts
Labels: DPIA API

#1377 [UTOPIA-1283-be] Allow complete status + delete review when moving to Edit or incomplete status
  src/backend/src/modules/pia-intake/metadata/pia-status.metadata.ts
Labels: DPIA API

#1383 UTOPIA-1278 Automate Search functionality with validation Regression UTOPIA-584
  src/frontend/test/features/featurefiles/e2e/UTOPIA-584_SearchSortFilter.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-584_SearchSortFilterDrafter.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-591_SearchSortFilterMPO_CPO.feature
  src/frontend/test/features/pageobjects/searchsortfilter.page.js
  src/frontend/test/features/step-definitions/SearchSortFilter.js
Labels: DPIA Web App

#1384 [UTOPIA-1168] Fixes:: DO not validate fields on patch, but on status …
  src/backend/src/modules/pia-intake/dto/pia-intake-find-query.dto.ts
  src/backend/src/modules/pia-intake/helper/check-field-validations.ts
  src/backend/src/modules/pia-intake/helper/handle-pia-status-change.ts
  src/backend/src/modules/pia-intake/helper/handle-pia-updates.ts
  src/backend/src/modules/pia-intake/helper/validate-conditions.ts
  src/backend/src/modules/pia-intake/jsonb-classes/review/mpo-review.ts
  src/backend/src/modules/pia-intake/jsonb-classes/review/role-review.ts
Labels: DPIA API

#1380 [Utopia 1287] implement program area clear button function
  src/frontend/src/components/public/PIAFormTabs/review/editProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewReviewSection.tsx
  src/frontend/src/components/public/PIANavButton/handleState.tsx
  src/frontend/src/utils/object-comparison.util.ts
Labels: DPIA Web App

#1382 [UTOPIA-1280]fix drafter can not click edit button in mpo_review status
  src/frontend/src/components/public/StatusChangeDropDown/populateModal.tsx
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1388 UTOPIA-1297: Adding ClamAV Config to API template
  openshift/templates/api/silver/api-dc-template.yaml
Labels: Openshift

#1389 UTOPIA-1281: Drafters can access Review Page in MPO review status
  src/frontend/src/components/public/PIANavButton/index.tsx
Labels: DPIA Web App

#1391 fix the broken routes
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1386 [Utopia 1291] check PI PIA to make sure preselect adm role in program area if condition satisify
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
Labels: DPIA Web App

#1381 [UTOPIA-1288] only allow one idir user to review one program area selected role
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewReviewSection.tsx
Labels: DPIA Web App

#1401 rebase lost the 1288 code and added back to fix the issue
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
Labels: DPIA Web App

#1400 Added access control for the review page side nav and bottom nav
  src/frontend/src/components/public/PIAFormTabs/review/accessControl.tsx
  src/frontend/src/components/public/PIANavButton/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1402 UTOPIA-1296 Fill out PPQ UTOPIA-616
  src/frontend/test/features/featurefiles/e2e/UTOPIA-1121_Drafter_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-1122_CPO_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-535_SubmitPIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-566_CreatePIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-591_SearchSortFilterMPO_CPO.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-617_FillPIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-631_MPO_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-711_AutoSave.feature
  src/frontend/test/features/pageobjects/createPIA.page.js
  src/frontend/test/features/pageobjects/page.js
  src/frontend/test/features/pageobjects/searchsortfilter.page.js
  src/frontend/test/features/pageobjects/submitPIA.page.js
  src/frontend/test/features/step-definitions/CreatePIA.js
  src/frontend/test/features/step-definitions/Loginsteps.js
  src/frontend/test/features/step-definitions/SubmitPIA.js
Labels: DPIA Web App

#1405 Utopia 1286
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1404 Status metadata update and logout unauth
  src/backend/src/modules/auth/auth.controller.ts
  src/backend/src/modules/pia-intake/metadata/pia-status.metadata.ts
Labels: DPIA API

#1410 Added completed PIA list view
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/components/public/EmptyPIAList/index.tsx
  src/frontend/src/components/public/ListViewRender/index.tsx
  src/frontend/src/components/public/ListViewRender/interface.ts
  src/frontend/src/components/public/ListViewRender/searchAndFilter.tsx
  src/frontend/src/components/public/ListViewRender/tableProperties.ts
  src/frontend/src/components/public/PIAListTable/interface.ts
  src/frontend/src/pages/PIAActiveListPage/index.tsx
  src/frontend/src/pages/PIAActiveListPage/messages.ts
  src/frontend/src/pages/PIACompletedList/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#1408 [Utopia 1199] disable comments function for Complete status
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/components/public/CommentsSidebar/interfaces.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1409 [UTOPIA-1202] comments only permissible if permitted within the updated status metadata
  src/backend/src/modules/comments/comments.service.ts
  src/backend/src/modules/pia-intake/helper/check-update-permissions.ts
  src/backend/src/modules/pia-intake/helper/handle-pia-updates.ts
  src/backend/src/modules/pia-intake/metadata/pia-status.metadata.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/comments/comments.service.spec.ts
  src/backend/test/unit/pia-intake/handle-pia-updates.spec.ts
  src/backend/test/unit/pia-intake/helpers/handle-pia-updates.spec.ts
  src/backend/test/unit/pia-intake/helpers/validate-conditions.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#1412 [UTOPIA-1289] fix cpo user can not see ppq tab
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/utils/helper.util.ts
Labels: DPIA Web App

#1421 UTOPIA-1323 Fix the latest change on Active PIAs
  src/frontend/test/features/featurefiles/e2e/UTOPIA-1121_Drafter_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-1122_CPO_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-617_FillPIA.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-631_MPO_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/home.feature
  src/frontend/test/features/pageobjects/login.page.js
  src/frontend/test/features/pageobjects/searchsortfilter.page.js
Labels: DPIA Web App

#1422 UTOPIA-1097: Update "Before you begin" text
  src/frontend/src/components/public/PIAFormTabs/intake/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
Labels: DPIA Web App

#1423 UTOPIA-1325 Update chrome browser service package
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1427 [UTOPIA-1332] CPO can now see all COMPLETEd PIAs along with CPO_REVIEW
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API
