Repository bcgov/cirmo-dpia, pull requests merged in 2023-03, with the labels that each got.

#904 UTOPIA-855: Updating API template for network policy name matching
  openshift/templates/api/api-dc-template-artifactory.yaml
Labels: Openshift

#903 UTOPIA-855: Egress Policy Feedback
  openshift/templates/network-policies/emerald/postgres-network-policy-template.yaml
Labels: Openshift

#906 [UTOPIA-856] Server crash - fix + Refresh Token not actually refreshing - fix
  src/backend/src/modules/auth/auth.controller.ts
  src/backend/src/modules/auth/auth.service.ts
  src/frontend/src/components/common/AppActivityManager/index.tsx
  src/frontend/src/utils/auth.ts
Labels: DPIA API, DPIA Web App

#909 UTOPIA-855: correct network policies for api/db connection
  openshift/templates/network-policies/emerald/api-network-policy-template.yaml
  openshift/templates/network-policies/emerald/postgres-network-policy-template.yaml
Labels: Openshift

#910 UTOPIA-855: moving and renaming template for api deployconfig
  openshift/templates/api/emerald/api-dc-template-v3.yaml
Labels: Openshift

#847 [UTOPIA-767]add disclosure tab
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/List/index.tsx
  src/frontend/src/components/public/PIAFormTabs/PIAAdditionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/PIACollectionUseAndDisclosure/CollectionUseAndDisclosure.ts
  src/frontend/src/components/public/PIAFormTabs/PIACollectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/PIACollectionUseAndDisclosure/messages.ts
  src/frontend/src/components/public/PIAFormTabs/PIAPersonalInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_font.scss
  src/frontend/src/sass/_table.scss
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#911 UTOPIA-855: Adding templates for Emerald WebApp
  openshift/templates/app/emerald/app-dc-template-v3.yaml
  openshift/templates/network-policies/emerald/api-network-policy-template.yaml
  openshift/templates/network-policies/emerald/app-network-policy-template.yaml
Labels: Openshift

#912 Utopia-770 Tab Security Personal Information
  src/frontend/src/components/public/PIAFormTabs/Security_Personal_Information/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/Security_Personal_Information/index.tsx
  src/frontend/src/components/public/PIAFormTabs/Security_Personal_Information/security-personal-info-interface.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_callout.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_sideNav.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#914 [UTOPIA-858] Column and structure change to agreements_and_information_banks
  src/backend/src/migrations/1677784458028-piaIntakeAlterColumnPIB.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/jsonb-classes/agreements-and-information-banks/index.ts
  src/backend/src/modules/pia-intake/jsonb-classes/agreements-and-information-banks/information-sharing-agreement.ts
  src/backend/src/modules/pia-intake/jsonb-classes/agreements-and-information-banks/personal-information-banks.ts
  src/backend/src/modules/pia-intake/jsonb-classes/personal-information-banks/index.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/util/mocks/data/pia-empty-jsonb-values.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#905 UTOPIA-768: [FE] Tab - Storing Personal Information
  src/frontend/src/components/common/Card/_card.scss
  src/frontend/src/components/common/List/index.tsx
  src/frontend/src/components/common/Radio/index.tsx
  src/frontend/src/components/common/Radio/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/PIAStoringPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/PIAStoringPersonalInformation/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/PIAStoringPersonalInformation/messages.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/types/enums/yes-no.enum.ts
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: enhancement, DPIA Web App

#913 [Utopia 857] [FE] pib update
  src/frontend/src/components/common/CustomInputDate/custom_input_date.scss
  src/frontend/src/components/public/PIAFormTabs/PIAPersonalInformationBanks/PersonalInformationBanks.ts
  src/frontend/src/components/public/PIAFormTabs/PIAPersonalInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/PIAPersonalInformationBanks/messages.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/AgreementsAndInformationBanks.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/messages.ts
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_form.scss
  src/frontend/src/types/interfaces/pia-form.interface.ts
  src/frontend/src/utils/date.ts
Labels: DPIA Web App

#919 [UTOPIA-871]fix storing personal information tab crash and naming for folders
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/accuracy-retention-interface.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/AdditionalRisks.ts
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/messages.ts
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/CollectionUseAndDisclosure.ts
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/messages.ts
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/security-personal-info-interface.ts
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/messages.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#920 [UTOPIA-848] Add new nextSteps flags to pia-intake
  src/backend/src/migrations/1678142798474-piaIntakeAddColumnsNextStepFlags.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#928 [UTOPIA-848] migration crash fix
  src/backend/src/migrations/1678142798474-piaIntakeAddColumnsNextStepFlags.ts
Labels: DPIA API

#930 Utopia 847 - Next Steps
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/components/public/PIASubHeader/_piasubheader.scss
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_nextSteps.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#933 [Utopia 867] fix tab accuracy
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
Labels: DPIA Web App

#931 Utopia-883 fix submit PIA based on PI
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/helper/messages.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
Labels: DPIA Web App

#935 UTOPIA-859: [Stale data passed error] call piaStateChangeHandler using useEffect for all tabs
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#936 UTOPIA-885: Typo on first text area of Storing PI tab
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/messages.ts
Labels: DPIA Web App

#937 UTOPIA-886: Add External link behaviour to all “more info” links on Storing PI tab
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/messages.ts
Labels: DPIA Web App

#938 UTOPIA-888: Incorrect Question
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#939 [UTOPIA-854] [Refactor] New Table Component. Replaces List for AdditionalRisks tab
  src/frontend/src/components/common/Table/index.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/AdditionalRisks.ts
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/utils/function.ts
  src/frontend/src/utils/object-modification.util.ts
Labels: DPIA Web App

#940 UTOPIA-887: Conditional logic fix for Assessment of disclosures outside of Canada
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#934 [UTOPIA-860] add next and back btn for pia form
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIANavButton/index.tsx
  src/frontend/src/components/public/PIANavButton/interface.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#941 [UTOPIA-854] [Refactor] [CollectionUseAndDisclosure]
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/CollectionUseAndDisclosure.ts
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
Labels: DPIA Web App

#943 [UTOPIA-869] remove email validations
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
Labels: DPIA API

#944 [UTOPIA-854] [Refactor] [SecurityPI]
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
Labels: DPIA Web App

#945 [UTOPIA-854] [Refactor] [AccuracyRetention]
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
Labels: DPIA Web App

#948 Update NPM Audit Github Action
  .github/workflows/npm-audit-api.yaml
  .github/workflows/npm-audit-frontend.yaml
Labels: Github Actions

#946 [UTOPIA-854] [Refactor] [AgreementsAndInfoBanks]
  src/frontend/src/components/common/CustomInputDate/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA Web App

#947 [UTOPIA-854] [Refactor] [Cleanup] [Remove List Component]
  src/frontend/src/components/common/List/index.tsx
  src/frontend/src/pages/PIAIntakeForm/index.tsx
Labels: DPIA Web App

#951 [UTOPIA-908] Updated PIA role access - you have an MPO access when you're MPO of any ministry
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/frontend/src/utils/helper.util.ts
Labels: DPIA API, DPIA Web App

#959 Utopia-925 Refactor NextSteps
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsDelegatedFlow.tsx
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsPI.tsx
Labels: DPIA Web App

#949 [UTOPIA-917]update pia intake view page
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/viewGeneralInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/PIASideNav/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/PIASubHeader/interfaces.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/messages.ts
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#961 fix docker build failed
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsPI.tsx
  src/frontend/src/pages/PIADetailPage/index.tsx
Labels: DPIA Web App

#960 Update sidenav nextsteps
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
Labels: DPIA Web App

#962 UTOPIA-911: Small fixes
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/common/Checkbox/interfaces.ts
  src/frontend/src/components/common/Dropdown/index.tsx
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/Radio/index.tsx
  src/frontend/src/components/common/Radio/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#965 [UTOPIA-890] next steps bug resolution
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/PIASubHeader/interfaces.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#964 UTOPIA-913: [FE] Tab - Security of Personal Information
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#963 [UTOPIA-926] move mannual change status to subheader and update intake view page
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIANavButton/index.tsx
  src/frontend/src/components/public/PIASideNav/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/PIASubHeader/interfaces.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIADetailPage/messages.ts
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#966 [UTOPIA-915] update aib tab for view mode
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/AgreementsAndInformationBanks.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/viewISATextInput.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/viewPIBTextInput.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#967 UTOPIA-913: Question Two Links
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
Labels: DPIA Web App

#969 UTOPIA-914: [FE] Tab - Accuracy, correction and retention
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#972 [UTOPIA-815] correct app title and misspelling parameter name
  src/frontend/index.html
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
Labels: DPIA Web App

#973 [UTOPIA-883] next steps bug fixes + submit button for new PIA text fix
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#968 [UTOPIA-794]update the ministris enum
  src/backend/src/common/constants/gov-ministries.constant.ts
  src/backend/src/common/constants/roles.constants.ts
  src/backend/src/common/enums/gov-ministries.enum.ts
  src/backend/src/common/enums/roles.enum.ts
Labels: DPIA API

#970 [UTOPIA-793]add new ministry and update the existing name for frontend
  src/frontend/src/constant/constant.ts
  src/frontend/src/types/enums/gov-ministries.enum.ts
Labels: DPIA Web App

#971 [UTOPIA-795]add migration to update ministry name
  src/backend/src/migrations/1678996557122-update-ministry-name.ts
Labels: DPIA API

#975 [UTOPIA-916] add readonly for additional risks tab
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#976 [UTOPIA-936] update acronym for post-second and future skill ministry
  src/backend/src/common/constants/gov-ministries.constant.ts
  src/backend/src/common/constants/roles.constants.ts
  src/backend/src/common/enums/roles.enum.ts
Labels: DPIA API

#978 [UTOPIA-796] rearranging roles in alphabatical order to be in sync with sso portal for easier matching
  src/backend/src/common/enums/roles.enum.ts
Labels: DPIA API

#979 [UTOPIA-935] Subheader styling updates
  src/frontend/src/components/common/Alert/_alert.scss
  src/frontend/src/components/common/Alert/index.tsx
  src/frontend/src/components/public/PIASubHeader/_piasubheader.scss
  src/frontend/src/components/public/PIASubHeader/index.tsx
Labels: DPIA Web App

#980 UTOPIA-912: [FE] Tab - Storing Personal Information
  src/frontend/src/components/common/Card/_card.scss
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#981 [UTOPIA-940] updated nestjs/cli to 9.3.0 - High vulnerability fix
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#983 [UTOPIA-938] updated gutter space
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App

#984 [UTOPIA-944]fix tab disclosure retention tab view mode issues
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/accuracy-retention-interface.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
Labels: DPIA Web App

#986 [UTOPIA-893]make create new page responsive
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/sass/_default.scss
Labels: DPIA Web App

#982 Utopia-939 Update font size based on screen size
  src/frontend/src/sass/_default.scss
Labels: DPIA Web App

#985 [UTOPIA-905] Table refactor to support two different views - standard and row based
  src/frontend/src/components/common/Table/index.tsx
  src/frontend/src/components/common/Table/interfaces.ts
  src/frontend/src/components/common/Table/views/table-view-props.interface.ts
  src/frontend/src/components/common/Table/views/useTableRowView.tsx
  src/frontend/src/components/common/Table/views/useTableStandardView.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/messages.ts
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_table.scss
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App

#996 UTOPIA-884: Spacing issues on Storing PI Tab
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_default.scss
Labels: DPIA Web App

#997 Utopia-953 update header to be responsive
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Header/_header.scss
Labels: DPIA Web App

#998 [UTOPIA-891]make landing page responsive
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/pages/LandingPage/LandingPage.tsx
Labels: DPIA Web App

#995 UTOPIA-941: Submitting PIA Intake from Edit/Incomplete Nav issues
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1001 [add-hoc]fix e2e
  src/frontend/cypress/e2e/landing-page/landingpage.cy.ts
Labels: DPIA Web App

#1000 [UTOPIA-892] Responsive List PIA page
  src/frontend/src/components/common/Dropdown/index.tsx
  src/frontend/src/components/common/Dropdown/interfaces.ts
  src/frontend/src/components/common/SearchBox/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/pages/PIAListPage/tableProperties.ts
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_table.scss
Labels: DPIA Web App

#999 [UTOPIA-895]update landing page and create ppg form responsive
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA Web App

#1002 [UTOPIA-961] Spacing between Sidenav and main container + Border bottom drafter fix
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_sideNav.scss
Labels: DPIA Web App

#1003 [UTOPIA-902] alignment issues fix
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
Labels: DPIA Web App

#1004 [UTOPIA-962] minimal card spacing for smaller screen
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/viewGeneralInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App

#1005 [UTOPIA-963]make modal responsive
  src/frontend/src/components/common/Modal/_modal.scss
  src/frontend/src/components/common/Modal/index.tsx
Labels: DPIA Web App

#1007 [UTOPIA-964]fix typo in text
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/messages.ts
Labels: DPIA Web App

#1008 [UTOPIA-907]add footer link
  src/frontend/src/components/common/Footer/Footer.tsx
Labels: DPIA Web App

#1009 [UTOPIA-882]change save btn to save and quit, first autosave redirect url for new pia
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/PIASubHeader/interfaces.ts
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1010 [UTOPIA-970] auth buttons responsive
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Header/_header.scss
Labels: DPIA Web App

#994 UTOPIA-782: Openshift Template Refactor
  .github/workflows/build-deploy-api.yaml
  .github/workflows/build-deploy-app.yaml
  .github/workflows/emerald-build-push-api.yaml
  .github/workflows/emerald-build-push-app.yaml
  .github/workflows/pilot-build-tag-deploy-api.yaml
  .github/workflows/pilot-build-tag-deploy-app.yaml
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-api-test.yaml
  .github/workflows/tag-deploy-app-prod.yaml
  .github/workflows/tag-deploy-app-test.yaml
  .github/workflows/test-push-artifactory.yaml
  openshift/cockroach/README.md
  openshift/cockroach/cluster-init.yaml
  openshift/cockroach/cockroachdb-statefulset.yaml
  openshift/templates/api/api-route-template-artifactory.yaml
  openshift/templates/api/api-service-template-v2.yaml
  openshift/templates/api/pilot/api-dc-template.yaml
  openshift/templates/api/pilot/api-route-template.yaml
  openshift/templates/api/pilot/api-service-template.yaml
  openshift/templates/api/silver/api-dc-template-v2.yaml
  openshift/templates/api/silver/api-route-template-v2.yaml
  openshift/templates/api/silver/api-service-template-v2.yaml
  openshift/templates/app/emerald/app-dc-template-v3.yaml
  openshift/templates/app/emerald/app-dc-template.yaml
  openshift/templates/app/emerald/app-route-template.yaml
  openshift/templates/app/emerald/app-service-template.yaml
  openshift/templates/app/pilot/app-service-template.yaml
  openshift/templates/app/silver/app-dc-template.yaml
  openshift/templates/app/silver/app-route-template.yaml
  openshift/templates/app/silver/app-service-template.yaml
  openshift/templates/network-policies/emerald/allow-api-gateway-to-api.yaml
  openshift/templates/network-policies/emerald/allow-api-to-psql.yaml
  openshift/templates/network-policies/emerald/allow-from-nginx-build-to-proxy.yaml
  openshift/templates/network-policies/emerald/postgres-network-policy-template.yaml
Labels: Openshift, Github Actions

#1023 UTOPIA-782: Template Refactor
  openshift/templates/api/silver/api-dc-template.yaml
  openshift/templates/api/silver/api-route-template.yaml
  openshift/templates/api/silver/api-service-template.yaml
Labels: Openshift

#1024 [UTOPIA-981]update footer link so open in a new tab
  src/frontend/src/components/common/Footer/Footer.tsx
Labels: DPIA Web App

#1022 Update pagination to be responsive
  src/frontend/src/components/common/Pagination/button.tsx
  src/frontend/src/components/common/Pagination/enums.tsx
  src/frontend/src/components/common/Pagination/index.tsx
  src/frontend/src/components/common/Pagination/interfaces.ts
  src/frontend/src/components/common/Pagination/listPageNumber.tsx
  src/frontend/src/components/common/Pagination/rowsPerPage.tsx
  src/frontend/src/components/common/Pagination/showingText.tsx
  src/frontend/src/sass/_pagination.scss
Labels: DPIA Web App, DO NOT MERGE

#1025 UTOPIA-782: Adding Tagging Strategy for TEST and PROD images in Artifactory
  .github/helpers/tag-artifactory-image.sh
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-api-test.yaml
  .github/workflows/tag-deploy-app-prod.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#1011 [UTOPIA-840]add validation message to mandatory field
  src/frontend/src/components/common/Alert/_alert.scss
  src/frontend/src/components/common/Alert/index.tsx
  src/frontend/src/components/common/Dropdown/index.tsx
  src/frontend/src/components/common/Footer/Footer.tsx
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsPI.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/viewISATextInput.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/viewPIBTextInput.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIASideNav/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/PIASubHeader/interfaces.ts
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_callout.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_nextSteps.scss
  src/frontend/src/sass/_pagination.scss
  src/frontend/src/sass/_sideNav.scss
  src/frontend/src/sass/_statusBlock.scss
  src/frontend/src/sass/_table.scss
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App

#1029 [UTOPIA-976]fix spi tab logic error
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#1028 [UTOPIA-974]add missing question in retention tab view mode
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
Labels: DPIA Web App

#1027 [UTOPIA-983]update disabled btn can not hoverable
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_pagination.scss
  src/frontend/src/sass/_sideNav.scss
  src/frontend/src/sass/_statusBlock.scss
Labels: DPIA Web App

#1031 [UTOPIA-880] update spi tab pre-selected question value
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
Labels: DPIA Web App

#1032 [UTOPIA-968]change q2 in accuracy tab default value to yes
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
Labels: DPIA Web App

#1034 [UTOPIA-868]update accuracy tab links
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helper/messages.ts
Labels: DPIA Web App

#1035 [UTOPIA-909] BugFix that the user is always redirecting to not-authorized page on logout
  src/frontend/src/utils/auth.ts
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#1036 [UTOPIA-945]update save button bahaviour in subheader,
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App
