Repository bcgov/cirmo-dpia, pull requests merged in 2023-09, with the labels that each got.

#1517 Fixed program area review type
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/utils/statusList/statuses/finalReviewStatus.ts
  src/frontend/src/utils/statusList/types.ts
Labels: DPIA Web App

#1519 Fix program area review permission
  src/frontend/src/utils/statusList/statuses/finalReviewStatus.ts
Labels: DPIA Web App

#1518 [UTOPIA-1413] Added dependency reporter workflows
  .github/helpers/check-npm-dependencies.js
  .github/helpers/github-api/create-and-close-existing-issue.js
  .github/helpers/github-api/github-api-requests.js
  .github/workflows/api-npm-dep-check.yaml
  .github/workflows/app-npm-dep-check.yaml
Labels: Github Actions

#1522 [UTOPIA-1414] Update frontend minor production dependencies
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1524 [UTOPIA-1415] Update frontend minor dev dependencies
  src/frontend/.eslintrc.js
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1525 [UTOPIA 1410] - (Frontend) Add multiple program area reviewers
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1528 [UTOPIA-1417] (Frontend) Update patch dev dependencies
  src/frontend/.stylelintrc.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/components/common/Callout/_callout.scss
  src/frontend/src/components/common/Card/_card.scss
  src/frontend/src/components/common/Dropdown/_dropdown.scss
  src/frontend/src/components/common/Footer/_footer.scss
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Header/_header.scss
  src/frontend/src/components/common/InputText/_inputText.scss
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/common/Spinner/index.tsx
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsPI.tsx
  src/frontend/src/components/public/PIAFormTabs/review/editReviewSection.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewReviewSection.tsx
  src/frontend/src/components/public/PIANavButton/handleState.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/components/public/PIASubHeader/_piasubheader.scss
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
  src/frontend/src/sass/_bootstrap_variables.scss
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_font.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_pagination.scss
  src/frontend/src/sass/_printPreview.scss
  src/frontend/src/sass/_statusBlock.scss
  src/frontend/src/sass/_table.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/utils/statusList/utils.ts
Labels: DPIA Web App

#1531 [UTOPIA-1410] Fix autosave error
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
Labels: DPIA Web App

#1529 [UTOPIA-1403] MPO Review E2E
  src/frontend/.eslintignore
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/README.md
  src/frontend/test/features/featurefiles/e2e/AutoSave.feature
  src/frontend/test/features/featurefiles/e2e/CPO_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/CreatePIA.feature
  src/frontend/test/features/featurefiles/e2e/Drafter_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/FillPIA.feature
  src/frontend/test/features/featurefiles/e2e/FillPPQ.feature
  src/frontend/test/features/featurefiles/e2e/MPO_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/SearchSortFilterDrafter.feature
  src/frontend/test/features/featurefiles/e2e/SearchSortFilterMPO_CPO.feature
  src/frontend/test/features/featurefiles/e2e/SubmitPIA.feature
  src/frontend/test/features/featurefiles/e2e/authenticated.feature
  src/frontend/test/features/featurefiles/e2e/unauthenticated.feature
  src/frontend/test/features/pageobjects/fillPPQ.page.js
  src/frontend/test/features/pageobjects/page.js
  src/frontend/test/features/pageobjects/submitPIA.page.js
  src/frontend/test/features/step-definitions/SubmitPIA.js
  src/frontend/wdio.conf.js
Labels: DPIA Web App

#1532 [UTOPIA-1394 & UTOPIA-1398] PIA statuses not visible to CPO
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#1533 [UTOPIA-1424] Fixed frontend lint typo
  .github/workflows/app-lint.yaml
Labels: Github Actions

#1535 [UTOPIA-1403] MPO Review E2E
  src/frontend/test/features/featurefiles/e2e/MPO_ViewPIA.feature
  src/frontend/test/features/pageobjects/submitPIA.page.js
Labels: DPIA Web App

#1534 [UTOPIA-1425] Fix hot reloading in backend
  src/backend/.docker/Dockerfile.local
  src/frontend/package-lock.json
Labels: DPIA Web App

#1536 Fixed dev e2e sanity test run
  src/frontend/wdio.conf.js
Labels: DPIA Web App

#1538 [UTOPIA-1419] (Backend) Update patch production dependencies
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1551 [UTOPIA-1403] MPO Review E2E
  src/frontend/test/features/pageobjects/page.js
  src/frontend/test/features/pageobjects/submitPIA.page.js
Labels: DPIA Web App

#1539 [UTOPIA-1421] (Backend) Update patch dev dependencies
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1540 [UTOPIA-1400] (Frontend) Add multiple reviewers
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewCPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
Labels: DPIA Web App

#1554 [UTOPIA-1420] (Backend) Update minor dev dependencies
  package-lock.json
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1556 [UTOPIA-1447] Updated e2e workflow for easier testing
  .github/workflows/app-e2e.yaml
Labels: Github Actions

#1557 [UTOPIA-1447] Edited app-e2e
  .github/workflows/app-e2e.yaml
  src/frontend/package.json
  src/frontend/wdio.conf.js
Labels: DPIA Web App, Github Actions

#1558 [UTOPIA-1447] Fixed e2e test run workflow
  .github/workflows/app-e2e.yaml
  src/frontend/wdio.conf.js
Labels: DPIA Web App, Github Actions

#1560 [UTOPIA-1406] Snowplow Single Page View Fix
  src/frontend/public/snowplow.js
  src/frontend/src/App.tsx
  src/frontend/src/globals.d.ts
Labels: DPIA Web App

#1571 [UTOPIA-1407] Track state change in snowplow
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1572 [UTOPIA-1395] Selected program area roles not visible when partially signed in Final Review
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
Labels: DPIA Web App

#1573 [UTOPIA-1395] Selected program area roles not visible when partially signed in Final Review
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
Labels: DPIA Web App

#1575 [UTOPIA-1430] Program area review displays incorrect information
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
Labels: DPIA Web App

#1577 [UTOPIA-1416] Ministry designate cannot edit/clear their review
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
Labels: DPIA Web App

#1580 [UTOPIA-1392] Typo on Active PIAs and Completed PIAs lists
  src/frontend/src/pages/PIAActiveListPage/index.tsx
  src/frontend/test/features/pageobjects/login.page.js
Labels: DPIA Web App

#1581 [UTOPIA-1465] (Frontend) Update minor prod dependencies
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1576 [UTOPIA-1248] (backend) create required PPQ fields
  src/backend/src/modules/pia-intake/jsonb-classes/ppq/index.ts
Labels: DPIA API

#1582 [UTOPIA-1431] Share with MPO button after creating a PIA does not change status to MPO review
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsPI.tsx
Labels: DPIA Web App

#1578 [UTOPIA-1428] Adding Role in Program Area Made Review Section Non-Editable
  src/frontend/src/components/public/PIAFormTabs/review/viewCPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewReviewSection.tsx
Labels: DPIA Web App

#1574 [UTOPIA-1429] Access link redirects to PIA list
  package-lock.json
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Unauthorized/index.tsx
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/PIAActiveListPage/index.tsx
  src/frontend/src/utils/auth.ts
Labels: DPIA Web App

#1584 [UTOPIA-980] Clicking “Edit” from View, user sees Edit mode of PIA intake instead of tab they are on
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1583 [UTOPIA-1465] (Frontend) Update patch dev dependencies
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1586 [UTOPIA-1390] Remove Save button
  src/frontend/src/components/public/PIASubHeader/index.tsx
Labels: DPIA Web App

#1585 [UTOPIA-1465] (Frontend) Update minor dev dependencies
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1587 [UTOPIA-1426] Update wording on Next Steps page
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/helper/messages.ts
Labels: DPIA Web App

#1588 [UTOPIA-1301] Changed wording of Title on Pia Intake
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/test/features/pageobjects/submitPIA.page.js
Labels: DPIA Web App

#1589 [UTOPIA-1249] - (frontend) update UI to add questions
  src/backend/src/modules/pia-intake/jsonb-classes/ppq/index.ts
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/ppq/messages.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
Labels: DPIA API, DPIA Web App

#1591 [UTOPIA-1470] New log in returns me to the last PIA I was looking at
  src/frontend/src/utils/auth.ts
Labels: DPIA Web App

#1592 [UTOPIA-980] Fix edit redirect tab
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1593 [UTOPIA-1038] Change status dropdown no longer keyboard accessible
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/_statuschangedropdown.scss
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#1602 [UTOPIA-1204] Missing 403 Page
  src/frontend/src/assets/403.svg
  src/frontend/src/components/common/Forbidden/index.tsx
  src/frontend/src/constant/routes.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/utils/auth.ts
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#1606 [UTOPIA-1466] Frontend patch/minor dependency updates
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1604 [UTOPIA-1038] Fixed tab issue
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
Labels: DPIA Web App

#1611 [UTOPIA-1469] Fix wording in PPQ final question
  src/frontend/src/components/public/PIAFormTabs/ppq/messages.ts
Labels: DPIA Web App

#1610 [UTOPIA-1477] Change Vite Logo favicon to BC GOV logo
  src/frontend/index.html
  src/frontend/public/bcgov.svg
  src/frontend/public/vite.svg
Labels: DPIA Web App

#1614 UTOPIA-1446: Updated keycloak-connect to 21.1.2
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1615 UTOPIA-1186: Improved screen reader labels
  src/frontend/src/components/common/Dropdown/index.tsx
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Radio/index.tsx
  src/frontend/src/components/common/Radio/interfaces.ts
  src/frontend/src/components/common/Table/views/useTableRowView.tsx
  src/frontend/src/components/common/Table/views/useTableStandardView.tsx
  src/frontend/src/components/common/ViewComment/index.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#1616 [UTOPIA-866] Match disabled text field UI for MPO use only text area
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/_collectionUseAndDisclosure.scss
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/sass/common.scss
Labels: DPIA Web App
