Repository bcgov/cirmo-dpia, pull requests merged in 2023-01, with the labels that each got.

#713 [Utopia 605] [Backend] Create PIA-intake update endpoint [PATCH]
  src/backend/src/common/constants/gov-ministries.constant.ts
  src/backend/src/common/interfaces/constants.inteface.ts
  src/backend/src/migrations/1671669830195-add-mpo-review-status-to-existing-pia-intake-records.ts
  src/backend/src/migrations/1671669894145-remove-default-from-pia-intake-status.ts
  src/backend/src/modules/pia-intake/constants/pia-intake-status.constant.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/enums/pia-intake-status.enum.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/pia-intake/ro/get-pia-intake.ro.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#716 UTOPIA-597: Make breadcrumbs position to navbar component absolute
  src/frontend/src/components/common/Breadcrumbs/_breadcrumbs.scss
  src/frontend/src/components/common/Breadcrumbs/index.tsx
  src/frontend/src/pages/PPQPage/PPQPage.tsx
Labels: DPIA Web App

#718 [utopia-620] [Backend] Unit Tests for helpers, utils, config service
  src/backend/src/common/helpers/date-helper.ts
  src/backend/src/common/helpers/pdf-helper.ts
  src/backend/src/common/helpers/utils.ts
  src/backend/src/config/config.service.ts
  src/backend/test/unit/common/helpers/base-helper.spec.ts
  src/backend/test/unit/common/helpers/date-helper.spec.ts
  src/backend/test/unit/common/helpers/pdf-helper.spec.ts
  src/backend/test/unit/common/helpers/utils.spec.ts
  src/backend/test/unit/config/config.service.spec.ts
Labels: DPIA API

#710 Utopia 551 view pia detail
  src/frontend/src/assets/401.svg
  src/frontend/src/components/common/NotFound/_notfound.scss
  src/frontend/src/components/common/Unauthorized/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/PPQResults/PPQResults.scss
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIADetailPage/messages.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/types/interfaces/pia-intake.interface.ts
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#717 UTOPIA-608: [Front End] Create UI Save before submitting modal
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Modal/_modal.scss
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/Modal/interfaces.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIADetailPage/messages.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
  src/frontend/src/sass/_form.scss
Labels: DPIA Web App

#719 UTOPIA-607: [Front End] Handle page refresh
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/sass/index.scss
Labels: DPIA Web App

#725 [UTOPIA-609]add pia submission feature
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/Modal/interfaces.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIADetailPage/messages.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
Labels: DPIA Web App

#727 [UTOPIA-608]change save changes button navigate to detail page instead list page
  src/frontend/src/pages/PIAIntakeForm/index.tsx
Labels: DPIA Web App

#729 UTOPIA-666: [Frontend] Fix PIA Leave Page Warning
  src/frontend/src/pages/PIAIntakeForm/index.tsx
Labels: DPIA Web App

#730 [UTOPIA-465, 603] [Frontend] Inactivity warning and logoff implementation
  src/frontend/src/App.tsx
  src/frontend/src/components/common/AppActivityManager/events.ts
  src/frontend/src/components/common/AppActivityManager/index.tsx
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/hooks/userFetchKeycloakUserInfo.tsx
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/utils/auth.ts
  src/frontend/src/utils/helper.util.ts
  src/frontend/src/utils/http-request.util.ts
  src/frontend/src/utils/storage.ts
Labels: DPIA Web App

#731 [UTOPIA-465] bug-fix: storage parsing interim error
  src/frontend/src/utils/storage.ts
Labels: DPIA Web App

#734 [UTOPIA-465] Bug fix: Storage parsing on a parsed object
  src/frontend/src/routes/router.tsx
  src/frontend/src/utils/helper.util.ts
Labels: DPIA Web App

#733 [Frontend] bug fix when user saves before submitting for the new pia
  src/frontend/src/pages/PIAIntakeForm/index.tsx
Labels: DPIA Web App

#726 Utopia 363 - Changing a PIA status manually
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_statusBlock.scss
  src/frontend/src/sass/_table.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#747 UTOPIA-475 - Changing Artifactory Login Method
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#748 UTOPIA-475: Typo in docker tag step
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#750 UTOPIA-687: [Frontend] Fix incorrect status change on submit cancel
  src/frontend/src/pages/PIAIntakeForm/index.tsx
Labels: DPIA Web App

#749 UTOPIA-475: Updating typos in Docker Push
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#745 [UTOPIA-561]add backend search endpoint to support search by title or drafter name
  src/backend/src/modules/pia-intake/dto/pia-form-query.dto.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#751 UTOPIA-475: Complete URL for tag and push
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#752 remove import from test folder to fix nestjs build issue
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/dto/pia-form-query.dto.ts
Labels: DPIA API

#753 UTOPIA-475: Updates to docker tag and push
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#754 [UTOPIA-561] Refactor search -
  src/backend/src/modules/pia-intake/dto/pia-intake-find-query.dto.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#756 [UTOPIA-561] [Search PIAs] Attempt to reduce cognitive complexity
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#758 UTOPIA-475: Changing image tag
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#760 UTOPIA-475: Changing Docker Push
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#761 UTOPIA-475: changing back to latest tag
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#757 [UTOPIA-557] added pagination to pia-intake
  src/backend/src/modules/pia-intake/dto/pia-intake-find-query.dto.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#765 [UTOPIA-554] adding sort to pia-intake findAll endpoint
  src/backend/src/common/enums/sort-order.enum.ts
  src/backend/src/modules/pia-intake/constants/pia-intake-allowed-sort-fields.ts
  src/backend/src/modules/pia-intake/dto/pia-intake-find-query.dto.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
Labels: DPIA API

#764 Utopia 555 -[Frontend] Implement UI updates for sorting and calling endpoint on click of Drafter and lastModified column headers
  src/frontend/src/assets/Sort-ascending.png
  src/frontend/src/assets/Sort-descending.png
  src/frontend/src/assets/Sort-inactive.png
  src/frontend/src/components/public/PIAListTable/TableOrdering.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/PIAListTable/interface.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/pages/PIAListPage/tableProperties.ts
  src/frontend/src/sass/_table.scss
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#762 [Utopia 560] add search box UI
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/SearchBox/index.tsx
  src/frontend/src/components/common/SearchBox/interfaces.ts
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_form.scss
Labels: DPIA Web App

#768 UTOPIA-475: Updating Artifactory Location
  .github/workflows/test-push-artifactory.yaml
Labels: Github Actions

#771 [UTOPIA-678] [Backend] class-validator update; explicitly updated @nestjs/mapped-types; updated nest versions
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#770 Repo Cleanup - Removing Old Openshift Templates
  openshift/templates/api/api-dc-template.yaml
  openshift/templates/api/api-route-template.yaml
  openshift/templates/api/api-service-template.yaml
  openshift/templates/app/app-dc-template.yaml
  openshift/templates/app/app-route-template.yaml
  openshift/templates/app/app-service-template.yaml
Labels: Openshift

#772 [utopia - 556] Add pagination to PIA list
  src/frontend/src/components/common/Pagination/index.tsx
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_pagination.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/types/interfaces/pia-intake.interface.ts
  src/frontend/src/types/interfaces/pia-result.interface.ts
Labels: DPIA Web App

#774 UTOPIA-475: Deploying API Image from Artifactory
  .github/workflows/test-push-artifactory.yaml
  openshift/templates/api/api-dc-template-artifactory.yaml
  openshift/templates/api/api-route-template-artifactory.yaml
  openshift/templates/api/api-service-template-artifactory.yaml
Labels: Openshift, Github Actions

#775 UTOPIA-703: Text elements move and resizing issue
  src/frontend/src/sass/_table.scss
Labels: DPIA Web App

#773 [Utopia-562] add filter pia by drafter/status/ministry in backend
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/dto/pia-intake-find-query.dto.ts
  src/backend/src/modules/pia-intake/enums/pia-filter-drafter-by-current-user.enum.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#776 [UTOPIA-699] added sort test + updated filter logic for enums
  src/backend/src/modules/pia-intake/dto/pia-intake-find-query.dto.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#767 [UTOPIA-563] add filter section ui
  src/frontend/src/components/common/Dropdown/index.tsx
  src/frontend/src/components/common/Dropdown/interfaces.ts
  src/frontend/src/components/common/SearchBox/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/interfaces.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/PIAListPage/index.tsx
  src/frontend/src/sass/_form.scss
  src/frontend/src/types/enums/pia-filter-drafter-by-current-user.enum.ts
Labels: DPIA Web App

#777 [UTOPIA-713] Attempt to fix failing logout and refresh token in dev and test
  src/backend/src/modules/auth/auth.controller.ts
  src/backend/src/modules/auth/auth.service.ts
  src/backend/src/modules/auth/dto/app-tokens.dto.ts
Labels: DPIA API

#779 [Utopia 712] - Pagination - Fix clicking elemnets in table dropdown
  src/frontend/src/components/common/Pagination/index.tsx
  src/frontend/src/sass/_pagination.scss
Labels: DPIA Web App

#780 UTOPIA-475: Artifactory - missing template and parameters in api yaml file
  openshift/templates/api/api-dc-template-artifactory.yaml
Labels: Openshift

#778 [UTOPIA-366]update filter query to eliminate unauthorized access pia
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#766 UTOPIA-671: [Backend] AutoSave Functionality - Introducing updatedBy fields + saveID + 409 when conflict
  src/backend/src/app.config.ts
  src/backend/src/common/entities/base.entity.ts
  src/backend/src/common/helpers/base-helper.ts
  src/backend/src/migrations/1674516280473-pia-intake-save-id-updated-by.ts
  src/backend/src/migrations/1674516560214-update-by-fields-default.ts
  src/backend/src/migrations/1674517995314-updated-by-add-nullable-constraint.ts
  src/backend/src/modules/pia-intake/dto/update-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/ppq/ppq.service.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/base.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#785 [Utopia 709] Enable Partial Save + fix UpdatedAt column + return complete object on create pia
  src/backend/src/migrations/1674601836799-pia-intake-allow-null-all.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/pia-intake/ro/create-pia-intake.ro.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#789 UTOPIA-733: Update ZAP Scan for Frontend, day and time
  .github/workflows/zap-frontend-scan.yaml
Labels: Github Actions

#781 UTOPIA-475: Adding test pipeline for webapp to artifactory
  .github/workflows/test-push-api-artifactory.yaml
  .github/workflows/test-push-app-artifactory.yaml
Labels: Github Actions

#788 UTOPIA-732: Update ZAP Scan API URL, day and time
  .github/workflows/zap-api-scan.yaml
Labels: Github Actions

#803 UTOPIA-737: Adding Success Notification to Teams Channel
  .github/workflows/build-deploy-api-v2.yaml
Labels: Github Actions

#799 UTOPIA-736: [Nginx] Added security headers
  src/frontend/index.html
  src/frontend/nginx.conf
Labels: DPIA Web App

#806 Typo In Github Action
  .github/workflows/build-deploy-api-v2.yaml
Labels: Github Actions

#786 [Utopia 673] [Frontend] AutoSave functionality + PIA form refactor
  src/frontend/src/components/common/Alert/index.tsx
  src/frontend/src/components/common/Alert/interfaces.ts
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/Pagination/index.tsx
  src/frontend/src/components/public/PIAIntakeResults/index.tsx
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
  src/frontend/src/pages/PIAIntakeResultsPage.tsx
  src/frontend/src/types/interfaces/pia-intake.interface.ts
  src/frontend/src/utils/date.ts
  src/frontend/src/utils/object-comparison.util.ts
Labels: DPIA Web App

#807 Typo In Git Action
  .github/workflows/build-deploy-api-v2.yaml
Labels: Github Actions
