Repository bcgov/cirmo-dpia, pull requests merged in 2023-02, with the labels that each got.

#808 [UTOPIA-742] Content Security Policy Headers - img-src fixed
  src/frontend/nginx.conf
Labels: DPIA Web App

#782 [Utopia 720] fix search text and filter to and relation instead of or
  src/frontend/src/components/common/Pagination/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/interfaces.ts
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: DPIA Web App

#798 [UTOPIA-714]fix filter by ministry will return the wrong results
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#810 UTOPIA-737: adding success and failure notifications for webapp deployment
  .github/workflows/build-deploy-app-v2.yaml
  .github/workflows/tag-deploy-app-prod.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#804 Utopia-688 - Fix breadcrumb alignmnent
  src/frontend/src/components/common/Breadcrumbs/_breadcrumbs.scss
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_pagination.scss
Labels: DPIA Web App

#811 [UTOPIA-746] updated filter logic for exclude/include self PIAs
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#805 [UTOPIA-716] MPO can only see pia status is non-incomplete for other drafters; ALSO updated filterByMinistry fix
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#812 [UTOPIA-735] PDF breaking fix for partial save + pdf should not contain 'N/A'
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/ppq/ppq.service.ts
  src/backend/src/modules/ppq/templates/ppq-result.pug
Labels: DPIA API

#813 [UTOPIA-748] [Frontend] Incomplete status Alert not working - fix + Refactor PIA detail page
  src/frontend/src/pages/PIADetailPage/index.tsx
Labels: DPIA Web App

#816 [UTOPIA-744] [Frontend] warning message on tab close shows even when there aren't any changes to save - fix
  src/frontend/src/pages/PIAIntakeForm/index.tsx
Labels: DPIA Web App

#814 [UTOPIA-701] update dropdown component icon can not click issue
  src/frontend/src/assets/dropdown-icon.svg
  src/frontend/src/components/common/Dropdown/_dropdown.scss
  src/frontend/src/components/common/Dropdown/index.tsx
Labels: DPIA Web App

#821 [UTOPIA-750] [Frontend] Failure popup on auto-save fail
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
Labels: DPIA Web App

#820 [Utopia 743] Conflict Popup update with who updated the conflict popup last
  src/backend/src/common/helpers/base-helper.ts
  src/backend/src/migrations/1675359354553-pia-intake-updatedByDisplayName-added.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/pia-intake/ro/get-pia-intake.ro.ts
  src/backend/test/unit/common/helpers/base-helper.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA API, DPIA Web App

#822 [UTOPIA-366]fix searchText box empty value not handle properly
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: DPIA Web App

#817 UTOPIA-737: Adding to Deployment Notification Titles
  .github/workflows/build-deploy-api-v2.yaml
  .github/workflows/build-deploy-app-v2.yaml
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-api-test.yaml
  .github/workflows/tag-deploy-app-prod.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#818 UTOPIA-749: Updating API and WebApp Replicas for Application Resiliency
  openshift/templates/api/api-dc-template-v2.yaml
  openshift/templates/app/app-dc-template-v2.yaml
Labels: Openshift

#824 UTOPIA-737: Changing Order of Notifications on Frontend
  .github/workflows/build-deploy-app-v2.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#826 [UTOPIA-528] Updated `proposedStartDate` in PPQ to date string instead of Timestamp
  src/backend/src/common/validators/date-string.validator.ts
  src/backend/src/migrations/1675472710074-ppq-propose-date-timestamp-to-date-string.ts
  src/backend/src/modules/ppq/dto/ppq-post.dto.ts
  src/backend/src/modules/ppq/entities/ppq.entity.ts
  src/backend/src/modules/ppq/ppq.service.ts
  src/backend/test/unit/common/validators/date-string.validator.spec.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/types/interfaces/ppq-form.interface.ts
Labels: DPIA API, DPIA Web App

#825 [UTOPIA-701]update ppq form to use dropdown common component
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA Web App

#838 UTOPIA-730: Transition Openshift Rolebindings from @github to @idr
  openshift/templates/rolebindings/bcgov-admin.yaml
  openshift/templates/rolebindings/citz-imb-idir-admin.yaml
  openshift/templates/rolebindings/ey-developers-idir-edit.yaml
  openshift/templates/rolebindings/ey-view-rolebinding.yaml
Labels: Openshift

#839 UTOPIA-677: API Deployment Config Env Vars
  openshift/templates/api/api-dc-template-artifactory.yaml
  openshift/templates/api/api-dc-template-v2.yaml
Labels: Openshift

#840 UTOPIA-677: Fixes typo in api dc templates.
  openshift/templates/api/api-dc-template-artifactory.yaml
  openshift/templates/api/api-dc-template-v2.yaml
Labels: Openshift

#837 [Utopia 689] - fix form validation with md-editor
  src/frontend/src/pages/PIAIntakeForm/index.tsx
Labels: DPIA Web App

#819 UTOPIA-677: Setup & Integrate GCNotify
  src/backend/.config/.env.local
  src/backend/src/app.module.ts
  src/backend/src/common/swagger.ts
  src/backend/src/config/config.service.ts
  src/backend/src/modules/gcnotify/dto/gcnotify-pia.dto.ts
  src/backend/src/modules/gcnotify/gcnotify.controller.ts
  src/backend/src/modules/gcnotify/gcnotify.module.ts
  src/backend/src/modules/gcnotify/gcnotify.service.ts
  src/backend/test/unit/gcnotify/gcnotify.controller.spec.ts
  src/backend/test/unit/gcnotify/gcnotify.service.spec.ts
  src/backend/test/util/mocks/data/gcnotify.mock.ts
  src/backend/test/util/mocks/services/gcnotify.service.mock.ts
Labels: DPIA API

#841 [Frontend] Bug fix: Users are logged out of one tab but active in an another tab
  src/frontend/src/components/common/AppActivityManager/index.tsx
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/utils/auth.ts
  src/frontend/src/utils/function.ts
  src/frontend/src/utils/storage.ts
Labels: DPIA Web App

#828 [Utopia 675] add submitted date to pia-intake table
  src/backend/src/migrations/1675357905496-add-submitted-at-col-to-pia-intake.ts
  src/backend/src/migrations/1675719264596-Update-existing-pia-submittedAt-for-non-incomplete.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#843 [UTOPIA-776] [BE] update PDF template / Add Signature Block - Delegated Review
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/src/modules/pia-intake/templates/pia-intake-result.pug
Labels: DPIA API

#842 [UTOPIA-777] update submittedat in frontend end
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/types/interfaces/pia-intake.interface.ts
Labels: DPIA API, DPIA Web App

#845 [UTPOPIA-675]dispaly N/A when submittedAt date is null in detail page
  src/frontend/src/pages/PIADetailPage/index.tsx
Labels: DPIA Web App

#846 [Utopia-764] subheader for pia
  src/frontend/src/components/public/PIASubHeader/_piasubheader.scss
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/PIASubHeader/interfaces.ts
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#856 UTOPIA-784: NPM Audit on Pull Request
  .github/workflows/npm-audit-api.yaml
  .github/workflows/npm-audit-frontend.yaml
Labels: Github Actions

#860 Utopia-764 Create new side bar
  src/frontend/src/App.tsx
  src/frontend/src/assets/active-menu-arrow.svg
  src/frontend/src/components/common/Navbar/_navbar.scss
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Navbar/interfaces.ts
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/components/public/PIASideNav/index.tsx
  src/frontend/src/components/public/PIASideNav/interface.ts
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_sideNav.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#861 [FE] added new /pia routes
  src/frontend/src/pages/PiaFormPage/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#862 Utopia-809 Create folder structure for form tabs
  src/frontend/src/components/public/PIAFormTabs/README.md
Labels: DPIA Web App

#864 [UTOPIA-759 - bug fixes]
  src/frontend/src/components/common/Breadcrumbs/index.tsx
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/components/public/PIASubHeader/_piasubheader.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App

#866 [bug fix] top padding moved after prev change
  src/frontend/src/sass/_default.scss
Labels: DPIA Web App

#863 [UTOPIA-774] [UTOPIA-808] [UTOPIA-806] Necessary Frontend Refactoring with parent child routes
  src/frontend/src/components/common/Breadcrumbs/index.tsx
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/components/public/PIAFormTabs/intake/helper/extract-intake-from-pia.helper.ts
  src/frontend/src/components/public/PIAFormTabs/intake/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/pia-form-intake.interface.ts
  src/frontend/src/components/public/PIAIntakeResults/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/PIAListTable/interface.ts
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/components/public/PIASubHeader/interfaces.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/hooks/usePIALookup.ts
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/PIADetailPage/index.tsx
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/pages/PIAIntakeForm/messages.ts
  src/frontend/src/pages/PIAIntakeResultsPage.tsx
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/pages/PiaFormPage/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/types/interfaces/pia-form.interface.ts
  src/frontend/src/types/interfaces/pia-result.interface.ts
  src/frontend/src/utils/object-comparison.util.ts
  src/frontend/src/utils/path.ts
Labels: DPIA Web App

#867 [UTOPIA-774-bug-fix] [Frontend] Fix: Form inputs are acting weird after parent-child forms
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#879 UTOPIA-831: Push API image to artifactory project linked to emerald cluster
  .github/workflows/emerald-push-api-artifactory.yaml
Labels: Github Actions

#878 [UTOPIA-813] Routing and PIA side navigation fix
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Navbar/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/PIASideNav/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_sideNav.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/utils/path.ts
Labels: DPIA Web App

#876 [UTOPIA-773]Utopia 773 tab additional risks
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/InputText/_inputText.scss
  src/frontend/src/components/common/List/index.tsx
  src/frontend/src/components/public/PIAFormTabs/PIAAdditionalRisks/AdditionalRisks.ts
  src/frontend/src/components/public/PIAFormTabs/PIAAdditionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/PIAAdditionalRisks/messages.ts
  src/frontend/src/pages/PIAIntakeForm/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/common.scss
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#884 UTOPIA-839: Updating Icaro Oliveira Idir in Openshift Rolebinding
  openshift/templates/rolebindings/ey-developers-idir-edit.yaml
Labels: Openshift

#886 UTOPIA-831/832: Changing API + WebApp image tag, renaming workflow file
  .github/workflows/emerald-push-app-artifactory.yaml
Labels: Github Actions

#890 UTOPIA-852: Updating API K8s Template to reflect Emerald cluster
  openshift/templates/api/api-dc-template-artifactory.yaml
Labels: Openshift

#887 [UTPOIA-843]add a check to make sure addtional tab render 4 rows initial phase
  src/frontend/src/components/public/PIAFormTabs/PIAAdditionalRisks/index.tsx
Labels: DPIA Web App

#881 Utopia-771 add retention tab
  src/frontend/src/components/public/PIAFormTabs/Accuracy_Retention/accuracy-retention-interface.ts
  src/frontend/src/components/public/PIAFormTabs/Accuracy_Retention/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/Accuracy_Retention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_sideNav.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#899 UTOPIA-855: Creating Network Policies for API and Postgres Container
  openshift/templates/network-policies/emerald/api-network-policy-template.yaml
  openshift/templates/network-policies/emerald/postgres-network-policy-template.yaml
  openshift/templates/network-policies/silver/allow-from-openshift-ingress.yaml
  openshift/templates/network-policies/silver/any-to-any.yaml
  openshift/templates/network-policies/silver/any-to-external.yaml
Labels: Openshift

#880 [Utopia-772] tab personal information banks
  src/frontend/src/components/public/PIAFormTabs/PIAPersonalInformationBanks/PersonalInformationBanks.ts
  src/frontend/src/components/public/PIAFormTabs/PIAPersonalInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/PIAPersonalInformationBanks/messages.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#902 Uptopia-814 Fix intake PIA form Styling and format
  src/frontend/src/components/public/PIAFormTabs/Accuracy_Retention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/components/public/PIASubHeader/_piasubheader.scss
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_sideNav.scss
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App
