Repository bcgov/cirmo-dpia, pull requests merged in 2023-11, with the labels that each got.

#1739 [UTOPIA-1516] Replace react-tooltip with custom solution
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/common/Checkbox/_checkbox.scss
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/common/Tooltip/index.tsx
  src/frontend/src/components/common/Tooltip/interfaces.ts
  src/frontend/src/sass/_tooltip.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#1740 [UTOPIA-1474] - (TESTING) Integrate Playwright into our CI/CD pipeline.
  .github/workflows/app-e2e.yaml
  .github/workflows/build-deploy-app.yaml
  .github/workflows/e2e-lint.yaml
  .github/workflows/e2e-npm-audit.yaml
  .github/workflows/e2e-npm-dep-check.yaml
  .github/workflows/e2e-test.yaml
  .github/workflows/tag-deploy-app-test.yaml
  src/e2e/.env-template
  src/e2e/.eslintrc.js
  src/e2e/env.ts
  src/e2e/package-lock.json
  src/e2e/package.json
  src/e2e/playwright.config.ts
  src/e2e/tests/example.spec.ts
  src/e2e/tests/exampleDrafterPia.spec.ts
  src/e2e/tsconfig.json
Labels: Github Actions

#1741 [UTOPIA-1474] - (TESTING) Integrate Playwright into our CI/CD pipeline.
  .github/workflows/build-deploy-app.yaml
  .github/workflows/e2e-test.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#1742 [UTOPIA-1474] - (TESTING) Integrate Playwright into our CI/CD pipeline.
  .github/workflows/e2e-test.yaml
Labels: Github Actions

#1743 [UTOPIA-1474] - (TESTING) Integrate Playwright into our CI/CD pipeline.
  .github/workflows/e2e-test.yaml
Labels: Github Actions

#1744 [UTOPIA-1474] - (TESTING) Integrate Playwright into our CI/CD pipeline.
  .github/workflows/e2e-test.yaml
  src/e2e/playwright.config.ts
Labels: Github Actions

#1758 Week 3 patch/minor dependency updates (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1760 [UTOPIA-1347] Typo changes
  src/frontend/src/components/common/Tooltip/messages.tsx
Labels: DPIA Web App

#1774 UTOPIA-1568: Minor/Patch Updates (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1777 UTOPIA-1568: Updated workflows
  .github/workflows/api-npm-dep-report.yaml
  .github/workflows/app-npm-dep-report.yaml
  .github/workflows/e2e-npm-dep-report.yaml
Labels: Github Actions

#1761 UTOPIA-1554: Implement RichTextEditor in PIA Intake
  src/backend/src/migrations/1699492200161-RichTextIntake.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/jsonb-classes/intake/rich-text-content.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/invitee.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeDescription.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeDetails.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeScope.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakePersonalInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/helper/pia-form-intake.interface.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/intakedetails.tsx
  src/frontend/src/pages/PIAForm/helpers/types.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/autosave.ts
Labels: DPIA API, DPIA Web App

#1781 UTOPIA-1546: Updated richtexteditor to v1.4.1
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1782 UTOPIA-1556: Implement package for text editor on collection, use, disclosure tab
  src/backend/src/common/interfaces/form-field.interface.ts
  src/backend/src/common/validators/form-field-role.validator.ts
  src/backend/src/migrations/1700000726487-RichTextCollectionUse.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/jsonb-classes/collection-use-and-disclosure/collection-notice.ts
  src/backend/src/modules/pia-intake/jsonb-classes/rich-text-content.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-empty-jsonb-values.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/CollectionUseAndDisclosure.ts
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/helper/pia-form-intake.interface.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/types.ts
Labels: DPIA API, DPIA Web App

#1783 Removed console log
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
Labels: DPIA Web App

#1785 UTOPIA-1559: Implement Rich Text Editor on Security of personal information tab
  src/backend/src/migrations/1700069709417-RichTextSecurityPI.ts
  src/backend/src/modules/pia-intake/jsonb-classes/security-personal-information/access-to-personal-information.ts
  src/backend/src/modules/pia-intake/jsonb-classes/security-personal-information/digital-tools-and-systems/section-storage.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/util/mocks/data/pia-empty-jsonb-values.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/security-personal-info-interface.ts
Labels: DPIA API, DPIA Web App

#1786 UTOPIA-1571: SysDig Monitoring
  openshift/templates/custom-resource-definitions/sysdig-team.yaml
Labels: Openshift

#1788 UTOPIA-1556: Condition for MPO only field on Collection, Use and Disclosure
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
Labels: DPIA Web App

#1789 [UTOPIA-1561] Implement package for text editor on Agreements and information banks tab
  src/backend/src/migrations/1700158801488-RichTextAgreementsAndInfoBanks.ts
  src/backend/src/modules/pia-intake/jsonb-classes/agreements-and-information-banks/information-sharing-agreement.ts
  src/backend/src/modules/pia-intake/jsonb-classes/agreements-and-information-banks/personal-information-banks.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/components/InformationSharingAgreement.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/components/PersonalInformationBanks.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/helper/IAgreementsInfo-interface.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
Labels: DPIA API, DPIA Web App

#1790 UTOPIA-1560: Implement RichTextEditor on Accuracy, correction, retention tab
  src/backend/src/migrations/1700162931296-RichTextAccuracyCorrectionRetention.ts
  src/backend/src/modules/pia-intake/jsonb-classes/accuracy-correction-and-retention/accuracy.ts
  src/backend/src/modules/pia-intake/jsonb-classes/accuracy-correction-and-retention/retention.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/util/mocks/data/pia-empty-jsonb-values.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/accuracy-retention-interface.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/AccuracySection.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/PersonalInformationSection.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
Labels: DPIA API, DPIA Web App

#1791 UTOPIA-1468: Clean up md editor
  src/frontend/src/components/common/Card/_card.scss
  src/frontend/src/components/common/Card/index.tsx
  src/frontend/src/components/common/Card/interfaces.ts
  src/frontend/src/components/public/EmptyPIAList/index.tsx
  src/frontend/src/components/public/PIAIntakeResults/index.tsx
  src/frontend/src/components/public/PIAIntakeResults/messages.ts
  src/frontend/src/components/public/PPQConnect/index.tsx
  src/frontend/src/components/public/PPQConnect/messages.ts
  src/frontend/src/components/public/PPQResults/PPQResults.scss
  src/frontend/src/components/public/PPQResults/index.tsx
  src/frontend/src/components/public/PPQResults/interfaces.ts
  src/frontend/src/components/public/PPQResults/messages.ts
  src/frontend/src/components/public/PPQResults/ppq-result-by-complexity.ts
  src/frontend/src/pages/PIAActiveListPage/messages.ts
  src/frontend/src/pages/PIAForm/helpers/types.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/utils/validateForm.ts
  src/frontend/src/pages/PPQResultsPage/PPQResultsPage.tsx
  src/frontend/src/pages/PPQResultsPage/interfaces.ts
  src/frontend/src/sass/_font.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#1792 UTOPIA-1581: Update sysdig-team.yaml
  openshift/templates/custom-resource-definitions/sysdig-team.yaml
Labels: Openshift

#1794 UTOPIA-1534: Update richtexteditor to v1.5.1
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1793 UTOPIA-1543: Function to generate unique identifiers
  src/frontend/src/utils/generateUID.ts
Labels: DPIA Web App

#1795 [UTOPIA-1583] Implement package for text editor on PIA Pathways Questionnaire
  src/backend/src/migrations/1700244977702-RichTextPPQ.ts
  src/backend/src/modules/pia-intake/jsonb-classes/ppq/index.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/interfaces.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA API, DPIA Web App

#1796 UTOPIA-1533: Updated richtexteditor v1.6.0 numbered lists
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1797 Update richtext 1.6.1
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
Labels: DPIA Web App

#1784 [UTOPIA - 1472] - (TESTING) Transfer old tests to use Playwright.
  src/e2e/.env-template
  src/e2e/README.md
  src/e2e/env.ts
  src/e2e/package.json
  src/e2e/playwright.config.ts
  src/e2e/tests/authorized.spec.ts
  src/e2e/tests/autosave.spec.ts
  src/e2e/tests/comments.spec.ts
  src/e2e/tests/exampleDrafterPia.spec.ts
  src/e2e/tests/filter.spec.ts
  src/e2e/tests/fullPia.spec.ts
  src/e2e/tests/landingPage.spec.ts
  src/e2e/tests/modules/index.ts
  src/e2e/tests/modules/piaFill/basicPiaFill.ts
  src/e2e/tests/modules/piaFill/cpoPiaFill.ts
  src/e2e/tests/modules/piaFill/drafterPiaFill.ts
  src/e2e/tests/modules/piaFill/mpoPiaFill.ts
  src/e2e/tests/search.spec.ts
  src/e2e/tests/sort.spec.ts
  src/e2e/tests/tooltip.spec.ts
  src/e2e/tests/unauthorized.spec.ts
  src/e2e/tests/utils/auth/cpoAuth.ts
  src/e2e/tests/utils/auth/drafterAuth.ts
  src/e2e/tests/utils/auth/mpoAuth.ts
  src/e2e/tests/utils/env/env.ts
  src/e2e/tests/utils/index.ts
  src/e2e/tests/utils/uuid/uuid.ts
  src/e2e/tests/utils/uuid/uuidSearch.ts
  src/frontend/src/components/common/Table/views/useTableRowView.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/AccuracySection.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/PersonalInformationSection.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/components/InformationSharingAgreement.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/components/PersonalInformationBanks.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#1798 [UTOPIA - 1472] - (TESTING) Transfer old tests to use Playwright.
  src/e2e/tests/modules/piaFill/mpoPiaFill.ts
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
Labels: DPIA Web App

#1799 [UTOPIA-1540] - make comments scroll to the bottom automatically when a new comment is added
  src/frontend/src/components/public/CommentsSidebar/index.tsx
Labels: DPIA Web App

#1800 [UTOPIA-1594] - (frontend) Trying to delete a comment Modal pop up does not fully darken background
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1801 UTOPIA-1535: Update richtexteditor v1.7.0 (font sizing)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1815 UTOPIA-1567: Patch/Minor Dependency Updates (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAListTable/TableOrdering.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
Labels: DPIA Web App

#1816 [UTOPIA-1541] - Add image click to PIA lifecycle diagram to make it easier to read
  src/frontend/src/assets/close.svg
  src/frontend/src/assets/minus.svg
  src/frontend/src/assets/plus.svg
  src/frontend/src/assets/search.svg
  src/frontend/src/components/common/ImageMagnifier/index.tsx
  src/frontend/src/components/common/ImageMagnifier/interfaces.ts
  src/frontend/src/components/common/ImageMagnifier/messages.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/components/PIALifecycle.tsx
  src/frontend/src/sass/_nextSteps.scss
Labels: DPIA Web App

#1820 UTOPIA-1583: Fix ppq richtext
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
Labels: DPIA Web App

#1822 [UTOPIA-1472] - (TESTING) Transfer old tests to use Playwright.
  src/e2e/playwright.config.ts
  src/e2e/tests/authorized.spec.ts
  src/e2e/tests/autosave.spec.ts
  src/e2e/tests/comments.spec.ts
  src/e2e/tests/filter.spec.ts
  src/e2e/tests/fullPia.spec.ts
  src/e2e/tests/landingPage.spec.ts
  src/e2e/tests/modules/piaFill/basicPiaFill.ts
  src/e2e/tests/modules/piaFill/cpoPiaFill.ts
  src/e2e/tests/modules/piaFill/drafterPiaFill.ts
  src/e2e/tests/modules/piaFill/mpoPiaFill.ts
  src/e2e/tests/search.spec.ts
  src/e2e/tests/sort.spec.ts
  src/e2e/tests/tooltip.spec.ts
  src/e2e/tests/unauthorized.spec.ts
  src/frontend/src/components/public/CommentsSidebar/index.tsx
Labels: DPIA Web App

#1823 UTOPIA-1609: Prevent auto submit on standalone ppq
  src/frontend/src/pages/PPQFormPage/PPQFormPage.tsx
Labels: DPIA Web App

#1824 [UTOPIA-1541] - Add image click to PIA lifecycle diagram to make it easier to read
  src/frontend/src/components/common/ImageMagnifier/index.tsx
  src/frontend/src/components/common/Tooltip/index.tsx
  src/frontend/src/components/common/Tooltip/interfaces.ts
  src/frontend/src/sass/_nextSteps.scss
  src/frontend/src/sass/_tooltip.scss
Labels: DPIA Web App

#1825 UTOPIA-1547: Updated richtexteditor v1.8.0 (insert link)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1826 [UTOPIA-1553] - Remove wdio and cucumber from frontend
  src/frontend/.eslintignore
  src/frontend/jsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/README.md
  src/frontend/test/features/featurefiles/e2e/AutoSave.feature
  src/frontend/test/features/featurefiles/e2e/CPO_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/CreatePIA.feature
  src/frontend/test/features/featurefiles/e2e/Drafter_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/FillPIA.feature
  src/frontend/test/features/featurefiles/e2e/FillPPQ.feature
  src/frontend/test/features/featurefiles/e2e/MPO_ViewPIA.feature
  src/frontend/test/features/featurefiles/e2e/SearchSortFilterDrafter.feature
  src/frontend/test/features/featurefiles/e2e/SearchSortFilterMPO_CPO.feature
  src/frontend/test/features/featurefiles/e2e/SubmitPIA.feature
  src/frontend/test/features/featurefiles/e2e/authenticated.feature
  src/frontend/test/features/featurefiles/e2e/home.feature
  src/frontend/test/features/featurefiles/e2e/unauthenticated.feature
  src/frontend/test/features/featurefiles/sanity/UTOPIA-539_landing.feature
  src/frontend/test/features/featurefiles/sanity/UTOPIA-564_login.feature
  src/frontend/test/features/featurefiles/sanity/UTOPIA-580_logout.feature
  src/frontend/test/features/pageobjects/authenticated.page.js
  src/frontend/test/features/pageobjects/createPIA.page.js
  src/frontend/test/features/pageobjects/fillPPQ.page.js
  src/frontend/test/features/pageobjects/home.page.js
  src/frontend/test/features/pageobjects/landing.page.js
  src/frontend/test/features/pageobjects/login.page.js
  src/frontend/test/features/pageobjects/page.js
  src/frontend/test/features/pageobjects/searchsortfilter.page.js
  src/frontend/test/features/pageobjects/submitPIA.page.js
  src/frontend/test/features/step-definitions/Authenticated.js
  src/frontend/test/features/step-definitions/CreatePIA.js
  src/frontend/test/features/step-definitions/FillPPQ.js
  src/frontend/test/features/step-definitions/Homesteps.js
  src/frontend/test/features/step-definitions/Landingsteps.js
  src/frontend/test/features/step-definitions/Loginsteps.js
  src/frontend/test/features/step-definitions/SearchSortFilter.js
  src/frontend/test/features/step-definitions/SubmitPIA.js
  src/frontend/wdio.conf.js
Labels: DPIA Web App

#1827 UTOPIA-1545: Updated richtexteditor v1.9.0 (Undo action)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1828 [UTOPIA-1555] - Fix # of pages display
  src/frontend/src/components/common/Pagination/listPageNumber.tsx
Labels: DPIA Web App

#1829 [UTOPIA-1610] - New PIAs are submitted on first autosave
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
Labels: DPIA Web App

#1830 UTOPIA-1580: Updated richtext v1.9.2 (Newlines improvements)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1845 UTOPIA-1569: Patch/Minor dependency updates (Backend)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1842 UTOPIA-1565: Updated richtext v1.10.1 (tooltips)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1856 UTOPIA-1569: Patch/Minor dependency updates (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1858 UTOPIA-1564: Update richtext v1.11.0 (active buttons)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1859 UTOPIA-1557: Update richtext v1.11.1 (allow undefined setContent)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/intakedetails.tsx
Labels: DPIA Web App

#1862 UTOPIA-1563: Update richtext v1.12.1 (text only mode)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/AccuracySection.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/PersonalInformationSection.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/components/InformationSharingAgreement.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/components/PersonalInformationBanks.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeDescription.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeDetails.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeScope.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakePersonalInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/intakedetails.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#1863 UTOPIA-1584: Print preview intake column adjustment
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/intakedetails.tsx
Labels: DPIA Web App

#1864 [UTOPIA-1610] - New PIAs are submitted on first autosave
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeDescription.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeDetails.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeScope.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakePersonalInformation.tsx
Labels: DPIA Web App

#1865 UTOPIA-1619: PPQ date picker z-index
  src/frontend/src/components/common/CustomInputDate/custom_input_date.scss
  src/frontend/src/components/common/CustomInputDate/index.tsx
Labels: DPIA Web App

#1866 [UTOPIA-1611] New PIAs are submitted on first autosave
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
Labels: DPIA Web App
