Repository bcgov/cirmo-dpia, pull requests merged in 2023-10, with the labels that each got.

#1628 [UTOPIA-1481] - (frontend) Week 1 minor dependency and patch updates
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1629 [UTOPIA-1442] - Remove rimraf (BE prod dependency)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1630 [UTOPIA 1449] - Update eslint and prettier (BE dev dependencies)
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/modules/auth/auth.controller.ts
  src/backend/src/modules/comments/comments.service.ts
Labels: DPIA API

#1631 [UTOPIA 1448] - Update Jest and Node (BE dev dependencies)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1634 [UTOPIA-1478] User does not see full PIA after sharing with MPO from Next Steps page
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsPI.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
Labels: DPIA Web App

#1645 UTOPIA-1483: Week 2 Minor/Patch Dependency Updates (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1646 UTOPIA-1483: Week 2 Minor/Patch Dependency Updates (Backend)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1648 UTOPIA-1442: Modify npm script
  src/backend/package.json
Labels: DPIA API

#1649 UTOPIA-1186: Added aria label to pia intake question
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
Labels: DPIA Web App

#1652 UTOPIA-[1443,1453,1445,1444,1454] Major Dependency Updates (Backend)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1651 [UTOPIA-1294] Interact with the Common State Machine upon all PIA interactions (Modal)
  src/backend/package-lock.json
  src/frontend/package-lock.json
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/populateModal.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/messages.ts
  src/frontend/src/utils/statusList/common.ts
  src/frontend/src/utils/statusList/modals.ts
  src/frontend/src/utils/statusList/statuses/editInProgressStatus.ts
  src/frontend/src/utils/statusList/statuses/incompleteStatus.ts
  src/frontend/src/utils/statusList/statuses/mpoReviewStatus.ts
  src/frontend/src/utils/statusList/types.ts
Labels: DPIA API, DPIA Web App

#1655 [UTOPIA-1458] - Separate src\frontend\src\components\public\PIAFormTabs\intake\index.tsx by <section>
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeGeneralInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeDescription.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeDetails.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeInitiativeScope.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakePersonalInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/PIAInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/helper/extract-intake-from-pia.helper.ts
  src/frontend/src/components/public/PIAFormTabs/intake/helper/pia-form-intake.interface.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/pia-form-intake.interface.ts
  src/frontend/src/components/public/PIAFormTabs/intake/viewGeneralInformation.tsx
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#1654 [UTOPIA-1460] - Separate auto save function from src\frontend\src\pages\PIAForm\index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/autosave.ts
Labels: DPIA Web App

#1658 [UTOPIA-1294] Interact with the Common State Machine upon all PIA interactions (Modal)
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1659 [UTOPIA-1456] - Separate src\frontend\src\components\public\PIAFormTabs\accuracyRetention\index.tsx by <section> into their own files.
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/accuracy-retention-interface.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/AccuracySection.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/CorrectionSection.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/components/PersonalInformationSection.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helpers/haveApprovedInfoScheduleHelper.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helpers/haveProcessInPlaceHelper.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helpers/messages.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helpers/willConductNotificationsHelper.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helpers/willDocumentHelper.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/helpers/willProvideInformationHelper.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
Labels: DPIA Web App

#1668 [UTOPIA-1457] Separate agreementsAndInformationBanks\index.tsx into ISA and PIB files
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/AgreementsAndInformationBanks.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/components/InformationSharingAgreement.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/components/PersonalInformationBanks.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/helper/IAgreementsInfo-interface.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/helper/involveIsaRadioHelper.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/helper/viewISATextInput.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/helper/viewPIBTextInput.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/helper/willResultPIBRadioHelper.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#1657 UTOPIA-1366: Refactor Submission behaviour
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/utils/validateForm.ts
  src/frontend/src/pages/PIAForm/utils/validationUI.ts
  src/frontend/src/utils/statusList/statuses/cpoReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/finalReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/mpoReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/pendingCompletionStatus.ts
  src/frontend/src/utils/statusList/types.ts
Labels: DPIA Web App

#1671 [UTOPIA-1438] - Update vite (FE dev dependency)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1674 [UTOPIA-1440] - Update lint-staged (FE dev dependency)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1675 [UTOPIA-1484] Backend patch/minor dependency updates
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1679 UTOPIA-1437: Update bc-sans (Major, Prod, FE)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1680 [UTOPIA-1439] - Update typescript, eslint (FE dev dependency)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/components/IntakeGeneralInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/intakedetails.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/hooks/useAuth.tsx
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#1656 UTOPIA-1459: Refactor Review Section
  src/frontend/src/components/public/PIAFormTabs/review/CPO/CPOSelfReviewCard.tsx
  src/frontend/src/components/public/PIAFormTabs/review/CPOReviewSection.tsx
  src/frontend/src/components/public/PIAFormTabs/review/MPOReviewSection.tsx
  src/frontend/src/components/public/PIAFormTabs/review/PAReviewSection.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgramArea/AddHideRolesToggle.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgramArea/AddRoleDropdown.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgramArea/AddRoleInput.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgramArea/PADisplay.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgramArea/PAReviewCard.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ReviewCard/DateReviewed.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ReviewCard/EditReviewButton.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ReviewCard/IsAcknowledgedCheckbox.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ReviewCard/ReviewCard.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ReviewCard/ReviewNote.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ReviewCard/ReviewNoteTextArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ReviewCard/ReviewedBy.tsx
  src/frontend/src/components/public/PIAFormTabs/review/editCPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/editMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/editProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/editReviewSection.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/pendingReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewCPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewReviewSection.tsx
  src/frontend/src/utils/statusList/statuses/completeStatus.ts
  src/frontend/src/utils/statusList/statuses/finalReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/pendingCompletionStatus.ts
  src/frontend/src/utils/statusList/types.ts
Labels: DPIA Web App

#1682 UTOPIA-1455: Snowplow production analytics
  src/frontend/nginx.conf
  src/frontend/public/snowplow.js
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1683 [UTOPIA-1460] - Separate auto save function from src\frontend\src\pages\PIAForm\index.tsx
  src/frontend/src/utils/autosave.ts
Labels: DPIA Web App

#1684 UTOPIA-1490: Autosave error occurs when CPO tries to review and sign PIA
  src/backend/src/common/utils/checkMatching.ts
  src/backend/src/common/utils/objectComparison.ts
  src/backend/src/common/validators/form-field-role.validator.ts
  src/backend/src/modules/pia-intake/helper/handle-pia-updates.ts
  src/backend/test/unit/common/utils/isMatching.spec.ts
  src/backend/test/unit/common/utils/objectComparison.spec.ts
Labels: DPIA API

#1685 [UTOPIA-1478] User does not see full PIA after sharing with MPO from Next Steps page
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
Labels: DPIA Web App

#1688 [UTOPIA-1460] - Separate auto save function from src\frontend\src\pages\PIAForm\index.tsx
  src/frontend/src/utils/autosave.ts
Labels: DPIA Web App

#1690 UTOPIA-1327: Status, Save and Three Dots buttons are not the same size
  src/frontend/src/components/public/PIASubHeader/_piasubheader.scss
  src/frontend/src/components/public/PIASubHeader/index.tsx
Labels: DPIA Web App

#1691 [UTOPIA-1316] - Project Update on DPIA Landing Page
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/LandingPage/messages.ts
Labels: DPIA Web App

#1692 [UTOPIA-1460] - Separate auto save function from src\frontend\src\pages\PIAForm\index.tsx
  src/frontend/src/utils/autosave.ts
Labels: DPIA Web App

#1704 UTOPIA-1519: Patch/Minor Dependency Updates (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1689 UTOPIA-1496 & UTOPIA-1498: Status list readOnly property
  src/frontend/src/components/public/PIAFormTabs/review/accessControl.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/statusList/statuses/completeStatus.ts
  src/frontend/src/utils/statusList/statuses/cpoReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/editInProgressStatus.ts
  src/frontend/src/utils/statusList/statuses/finalReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/incompleteStatus.ts
  src/frontend/src/utils/statusList/statuses/mpoReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/pendingCompletionStatus.ts
  src/frontend/src/utils/statusList/types.ts
Labels: DPIA Web App

#1706 UTOPIA-1519: NPM Patch/Minor Dependency Updates (Backend)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1708 UTOPIA-1496 Modifications - Drafter access to PPQ
  src/frontend/src/utils/statusList/statuses/cpoReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/incompleteStatus.ts
  src/frontend/src/utils/statusList/statuses/mpoReviewStatus.ts
Labels: DPIA Web App

#1709 [UTOPIA-1460] - Separate auto save function from src\frontend\src\pages\PIAForm\index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1712 [UTOPIA-1136] Missing link on Create New page
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/src/pages/PPQPage/messages.ts
Labels: DPIA Web App

#1710 [UTOPIA-1460] - Separate auto save function from src\frontend\src\pages\PIAForm\index.tsx
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/pages/PIAForm/helpers/types.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/utils/handleModal.ts
  src/frontend/src/utils/autosave.ts
  src/frontend/src/utils/snowplow.ts
Labels: DPIA Web App

#1713 UTOPIA-1494: Next Steps changes
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/metadata/pia-status.metadata.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/util/mocks/data/invitee.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsPI.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/helper/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/nextSteps/helper/messages.ts
  src/frontend/src/components/public/PIAFormTabs/nextSteps/index.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsDelegatedFlow.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/components/FillOutFullPIA.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/components/NotifyMPO.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/components/PIALifecycle.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/components/SubmitForMPO.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/index.tsx
  src/frontend/src/components/public/PIANavButton/interface.ts
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/utils/handleModal.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/types/interfaces/pia-form.interface.ts
  src/frontend/src/utils/autosave.ts
Labels: DPIA API, DPIA Web App

#1714 [UTOPIA-1236]CPO should not be able to skip MPO review
  src/frontend/src/utils/statusList/statuses/editInProgressStatus.ts
  src/frontend/src/utils/statusList/statuses/incompleteStatus.ts
  src/frontend/src/utils/statusList/statuses/mpoReviewStatus.ts
Labels: DPIA Web App

#1715 UTOPIA-1536: Added migration for Next Steps changes
  src/backend/src/migrations/1698356250344-removeNextStepsProperties.ts
Labels: DPIA API

#1716 [UTOPIA-1354] Process Map / Infographic for DPIA
  src/frontend/src/assets/InfographicDelegatedPIA.svg
  src/frontend/src/assets/InfographicStandardPIA.svg
  src/frontend/src/components/public/PIAFormTabs/nextSteps/helper/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/nextSteps/index.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsDelegatedFlow.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/components/PIALifecycle.tsx
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/index.tsx
Labels: DPIA Web App

#1718 [UTOPIA-1537] - Comments no longer scrollable
  src/frontend/src/sass/_comment_sidebar.scss
Labels: DPIA Web App

#1719 UTOPIA-1290: List of PIAs is not sorted by last modified by default
  src/frontend/src/components/public/ListViewRender/tableProperties.ts
Labels: DPIA Web App

#1720 [UTOPIA-1354] Process Map / Infographic for DPIA
  src/frontend/src/components/public/PIAFormTabs/nextSteps/nextStepsPI/components/PIALifecycle.tsx
  src/frontend/src/sass/_nextSteps.scss
Labels: DPIA Web App

#1721 UTOPIA-1440: Update lint-staged (FE dev dependency)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1717 [UTOPIA-1471] - Set up a basic Playwright environment for testing
  .gitignore
  src/e2e/.env-template
  src/e2e/package-lock.json
  src/e2e/package.json
  src/e2e/playwright.config.ts
  src/e2e/tests/example.spec.ts
  src/e2e/tsconfig.json
  src/e2e/tsconfig.node.json
  src/frontend/package-lock.json
Labels: DPIA Web App

#1734 UTOPIA-1290: Fix descending order lastModified pias
  src/frontend/src/components/public/ListViewRender/index.tsx
Labels: DPIA Web App

#1735 UTOPIA-1520: Week 2 minor dependency and patch updates (Backend)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1736 UTOPIA-1520: Week 2 minor dependency and patch updates (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App
