Repository bcgov/cirmo-dpia, pull requests merged in 2023-04, with the labels that each got.

#1033 [UTOPIA-906] Keyboard Accessibility changes - for app; + Nav movements via arrows
  src/frontend/src/App.tsx
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/Modal/interfaces.ts
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Navbar/interfaces.ts
  src/frontend/src/components/public/PIASideNav/index.tsx
  src/frontend/src/hooks/useRovingTabIndex.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_default.scss
Labels: DPIA Web App

#1030 [UTOPIA-943]fix pia tab nav btn
  src/frontend/src/components/common/Navbar/interfaces.ts
  src/frontend/src/components/public/PIANavButton/handleState.tsx
  src/frontend/src/components/public/PIANavButton/index.tsx
  src/frontend/src/components/public/PIANavButton/interface.ts
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1040 UTOPIA-782: Pull DEV Artifactory image for tagging + promotion
  .github/workflows/tag-deploy-api-test.yaml
Labels: Github Actions

#1038 [UTOPIA-994] BUGFIX: allow ministry to be unselected
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
Labels: DPIA Web App

#1041 UTOPIA-782: adding docker pull and list to test app deploy action
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#1042 TYPO!
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#1050 [UTOPIA-996] fix: user submits intake before autosave
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1051 [UTOPIA-997] Restrict changes in view mode from chrome dev tools
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1052 [UTOPIA-1000] AutoSave - stale fix when multiple changes are send in a row
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1053 [UTOPIA-1003] event handler Accessibility fix for Search Text on List Page
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/SearchBox/index.tsx
  src/frontend/src/components/common/SearchBox/interfaces.ts
  src/frontend/src/pages/PIAListPage/index.tsx
Labels: DPIA Web App

#1054 UTOPIA-1006: PIA subHeader - submit button UI issue when disabled
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/sass/_buttons.scss
Labels: DPIA Web App

#1056 [UTPIA-1008 &998]fix can not submit full pia issue and remvoe dataElementInvolve validation check
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1057 Error validation banner fix
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1059 UTOPIA-782: removing artifactory tag promotion
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-app-prod.yaml
Labels: Github Actions

#1055 [UTOPIA-1005]fix skip to main content nav link
  src/frontend/src/App.tsx
Labels: DPIA Web App

#1071 UTOPIA-927: Implement Frontend Collapsible Component for sidebars
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/Collapsible/interfaces.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_collapsible.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#1072 Added snowplow script as a file to avoid unsafe-eval
  src/frontend/index.html
  src/frontend/nginx.conf
  src/frontend/snowplow.js
Labels: DPIA Web App

#1061 [Utopia 1012] banner status update for next steps
  src/frontend/.eslintrc.js
  src/frontend/src/components/common/Callout/_callout.scss
  src/frontend/src/components/common/Callout/index.tsx
  src/frontend/src/components/common/Callout/interfaces.ts
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/PIAForm/BannerStatus/index.tsx
  src/frontend/src/pages/PIAForm/BannerStatus/interfaces.ts
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1070 [UTOPIA-512] remove all reference for keycloak-resource variable
  openshift/templates/api/emerald/api-dc-template-v3.yaml
  openshift/templates/api/silver/api-dc-template.yaml
  src/backend/.config/.env.local
  src/backend/src/config/config.service.ts
  src/backend/test/unit/config/config.service.spec.ts
Labels: DPIA API, Openshift

#1077 [UTOPIA-757] fix - moved snowplow.js to public directory
  src/frontend/index.html
  src/frontend/public/snowplow.js
  src/frontend/tsconfig.eslint.json
Labels: DPIA Web App

#1079 UTOPIA-782: Refactor emerald artifactory steps
  .github/helpers/tag-artifactory-image.sh
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-api-test.yaml
  .github/workflows/tag-deploy-app-prod.yaml
  .github/workflows/tag-deploy-app-test.yaml
  openshift/templates/api/emerald/api-dc-template-v3.yaml
  openshift/templates/app/emerald/app-dc-template.yaml
Labels: Openshift, Github Actions

#1080 [E2E] Github workflow added
  .github/workflows/app-e2e.yaml
Labels: Github Actions

#1082 [UTOPIA-1021] update callout banner text for pia
  src/frontend/src/pages/PIAForm/BannerStatus/index.tsx
  src/frontend/src/pages/PIAForm/BannerStatus/messages.ts
Labels: DPIA Web App

#1084 BUG: missing # for comments in prod actions
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-app-prod.yaml
Labels: Github Actions

#1085 BUG: missing indent on prod api and app github actions
  .github/workflows/tag-deploy-api-prod.yaml
  .github/workflows/tag-deploy-app-prod.yaml
Labels: Github Actions

#1078 [UTOPIA-1010] FE - new pdf preview route
  src/frontend/src/assets/BC_logo_Horizontal.png
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/index.tsx
  src/frontend/src/components/public/PIAFormTabs/Next_Steps/nextStepsPI.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/constant/routes.ts
  src/frontend/src/contexts/PiaFormContext.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PiaFormPrintPreview/MessageSignatures.ts
  src/frontend/src/pages/PiaFormPrintPreview/PrintHeader.tsx
  src/frontend/src/pages/PiaFormPrintPreview/SignatureSection.tsx
  src/frontend/src/pages/PiaFormPrintPreview/SignaturesFull.tsx
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
  src/frontend/src/pages/PiaFormPrintPreview/interface.ts
  src/frontend/src/pages/PiaFormPrintPreview/signatureBlock.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_printPreview.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#1086 Utopia 336 Update app-e2e.yaml workflow to check login page
  .github/workflows/app-e2e.yaml
  src/frontend/cypress/e2e/login-page/loginpage.cy.ts
Labels: DPIA Web App, Github Actions

#1087 [UTOPIA-1035] print all tabs in pdf when pi option select to i am no…
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
Labels: DPIA Web App

#1088 UTOPIA-336 Update the workflow with new approach and config file
  .github/workflows/app-e2e.yaml
  src/frontend/cypress.config.ts
  src/frontend/cypress/e2e/login-page/loginpage.cy.ts
Labels: DPIA Web App, Github Actions

#1089 Utopia 336 fix for the dev e2e error
  .github/workflows/build-deploy-app.yaml
  .github/workflows/tag-deploy-app-test.yaml
Labels: Github Actions

#1091 UTOPIA-336 Update build-deploy to point to dev
  .github/workflows/build-deploy-app.yaml
Labels: Github Actions

#1092 [UTOPIA-533] [Backend] Comment entity and endpoints added - GET, POST, DELETE
  docker-compose.local.yaml
  src/backend/src/app.module.ts
  src/backend/src/common/helpers/base-helper.ts
  src/backend/src/common/swagger.ts
  src/backend/src/migrations/1681507013982-comments-entity.ts
  src/backend/src/modules/comments/comments.controller.ts
  src/backend/src/modules/comments/comments.module.ts
  src/backend/src/modules/comments/comments.service.ts
  src/backend/src/modules/comments/dto/create-comment.dto.ts
  src/backend/src/modules/comments/dto/update-comment.dto.ts
  src/backend/src/modules/comments/entities/comment.entity.ts
  src/backend/src/modules/comments/enums/allowed-comment-paths.enum.ts
  src/backend/src/modules/comments/ro/get-comment.ro.ts
  src/backend/src/modules/pia-intake/pia-intake.module.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA API, DPIA Web App

#1093 [UTOPIA-533] [Backend] [FIX] updated find comments query params and enforced class-validator validations
  src/backend/src/modules/comments/comments.controller.ts
  src/backend/src/modules/comments/dto/find-comments.dto.ts
Labels: DPIA API

#1095 [UTOPIA-1021] fix typo
  src/frontend/src/pages/PIAForm/BannerStatus/messages.ts
Labels: DPIA Web App

#1096 UPTOPIA-782: Adding Tekton Pipeline Templates
  openshift/templates/api/emerald/api-dc-template.yaml
  openshift/templates/api/emerald/api-service-template.yaml
  openshift/templates/tekton-pipeline/api/pipeline-process-apply-task.yaml
  openshift/templates/tekton-pipeline/api/pipeline.yaml
Labels: Openshift

#1094 Update nigix CSP to allow snowplow
  src/frontend/nginx.conf
Labels: DPIA Web App

#1097 [UTOPIA-1036] Fixed collapsible menu accessibility issues
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/hooks/useRovingTabIndex.tsx
Labels: DPIA Web App

#1083 [Utopia 637] add ut for backend auth and ppq module and fix frontend ut
  src/backend/src/modules/auth/auth.controller.spec.ts
  src/backend/src/modules/auth/auth.service.spec.ts
  src/backend/src/modules/ppq/ppq.controller.spec.ts
  src/backend/src/modules/ppq/ppq.service.spec.ts
  src/backend/test/unit/auth/auth.controller.spec.ts
  src/backend/test/unit/auth/auth.service.spec.ts
  src/backend/test/unit/ppq/ppq.controller.spec.ts
  src/backend/test/unit/ppq/ppq.service.spec.ts
  src/backend/test/util/mocks/data/auth.mock.ts
  src/backend/test/util/mocks/data/ppq.mock.ts
  src/backend/test/util/mocks/services/ppq.service.mock.ts
  src/frontend/.eslintrc.js
  src/frontend/cypress/component/common/Callout/callout.cy.tsx
  src/frontend/cypress/component/common/Card/card.cy.tsx
  src/frontend/cypress/component/common/Checkbox/checkbox.cy.tsx
  src/frontend/cypress/component/common/Navbar/navbar.cy.tsx
  src/frontend/cypress/component/common/PPQNavBar.cy.tsx
  src/frontend/cypress/component/common/footer.cy.tsx
  src/frontend/cypress/component/common/header.cy.tsx
  src/frontend/cypress/component/pages/LandingPage.cy.tsx
  src/frontend/cypress/component/pages/ppqpage.cy.tsx
  src/frontend/cypress/support/component.ts
  src/frontend/cypress/support/index.ts
  src/frontend/cypress/tsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/PPQPage/PPQPage.tsx
  src/frontend/tsconfig.json
Labels: DPIA API, DPIA Web App

#1107 [UTOPIA-1055] Bug fix: Find endpoint not filtering by pia-id - fixed
  src/backend/src/modules/comments/comments.controller.ts
  src/backend/src/modules/comments/comments.service.ts
  src/backend/src/modules/comments/entities/comment.entity.ts
  src/backend/src/modules/comments/enums/allowed-comment-paths.enum.ts
  src/backend/src/modules/comments/ro/get-comment.ro.ts
Labels: DPIA API

#1109 [UTOPIA-1042] updated print on image load
  src/frontend/src/pages/PiaFormPrintPreview/PrintHeader.tsx
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
Labels: DPIA Web App

#1112 [UTOPIA-1057] added comments count endpoint
  src/backend/src/modules/comments/comments.controller.ts
  src/backend/src/modules/comments/comments.service.ts
  src/backend/src/modules/comments/dto/find-comments-count.dto.ts
  src/backend/src/modules/comments/ro/comments-count-ro.ts
Labels: DPIA API

#1108 UTOPIA-691: Implement Comment Sidebar UI
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/components/public/CommentsSidebar/interfaces.ts
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_collapsible.scss
  src/frontend/src/types/enums/pia-sections.enum.ts
  src/frontend/src/utils/date.ts
Labels: DPIA Web App

#1110 [Utopia 691] add comments
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/Collapsible/interfaces.ts
  src/frontend/src/components/common/ViewComment/index.tsx
  src/frontend/src/components/common/ViewComment/interfaces.ts
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/components/public/CommentsSidebar/interfaces.ts
  src/frontend/src/components/public/CommentsSidebar/messages.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/contexts/PiaFormContext.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/http-request.util.ts
Labels: DPIA Web App

#1114 UTOPIA-1048: Keyboard navigation for sidebar works but visibility of highlighting the lists is minimal
  src/frontend/src/sass/_sideNav.scss
Labels: DPIA Web App

#1106 [UTOPIA-1044]add more unit test for ppq and auth module and comments
  src/backend/src/modules/auth/auth.controller.ts
  src/backend/test/unit/auth/auth.controller.spec.ts
  src/backend/test/unit/auth/auth.service.spec.ts
  src/backend/test/unit/ppq/ppq.controller.spec.ts
  src/backend/test/unit/ppq/ppq.service.spec.ts
Labels: DPIA API

#1117 [UTOPIA-1064] fix comments time stamp format
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/utils/date.ts
Labels: DPIA Web App

#1119 [UTOPIA-1039] added test cases for the Comments module
  src/backend/src/modules/comments/comments.controller.ts
  src/backend/src/modules/comments/comments.service.ts
  src/backend/test/unit/comments/comments.controller.spec.ts
  src/backend/test/unit/comments/comments.service.spec.ts
  src/backend/test/util/mocks/data/comments.mock.ts
  src/backend/test/util/mocks/services/comments.service.mock.ts
Labels: DPIA API

#1116 [UTOPIA-1061]fix left and right collapsible show at same time issue
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/Collapsible/interfaces.ts
  src/frontend/src/components/common/ViewComment/index.tsx
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1129 [UTOPIA-1062] Added comments to PIA Intake
  src/backend/src/modules/comments/enums/allowed-comment-paths.enum.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/viewGeneralInformation.tsx
  src/frontend/src/types/enums/pia-sections.enum.ts
Labels: DPIA API, DPIA Web App

#1130 UTOPIA-336 Update dev and Test environment URL checks
  src/frontend/cypress/e2e/login-page/loginpage.cy.ts
Labels: DPIA Web App

#1118 UTOPIA-1065: Comment Sidebar Scroll & Add Comment UI Fix
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/Collapsible/interfaces.ts
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_collapsible.scss
  src/frontend/src/sass/_comment_sidebar.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#1140 UTOPIA-1065: Comments Sidebar UI Fixed Position
  src/frontend/src/components/common/ViewComment/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_comment_sidebar.scss
  src/frontend/src/sass/_default.scss
Labels: DPIA Web App

#1139 [UTOPIA-336] Correcting Log Out timeout issue
  src/frontend/cypress.config.ts
  src/frontend/cypress/e2e/login-page/loginpage.cy.ts
Labels: DPIA Web App

#1138 [UTOPIA-1022] add description text in addtional risk tab
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/messages.ts
Labels: DPIA Web App

#1135 [UTOPIA-766] update backend to retrieve drafter name and email from idir and remove drafter title
  src/backend/src/migrations/1682462763450-remove-drafter-title.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#1134 [UTOPIA-765] remove drafter name/title/email from intake form
  src/frontend/src/components/public/PIAFormTabs/intake/helper/extract-intake-from-pia.helper.ts
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/pia-form-intake.interface.ts
  src/frontend/src/components/public/PIAFormTabs/intake/viewGeneralInformation.tsx
Labels: DPIA Web App

#1143 [UTOPIA-1066] Bring comment sidebar to focus when showing comments
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/Collapsible/interfaces.ts
  src/frontend/src/components/common/ViewComment/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_buttons.scss
Labels: DPIA Web App

#1131 [Utopia 1059] add section boarder outline when click view comments link
  src/frontend/src/components/common/ViewComment/index.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/viewGeneralInformation.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/contexts/PiaFormContext.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_collapsible.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_printPreview.scss
  src/frontend/src/types/enums/pia-sections.enum.ts
Labels: DPIA Web App

#1137 [UTOPIA-957/958]remove mpo related fields from backend
  src/backend/src/migrations/1682464239283-remove-mpo-related-fields.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#1136 [UTOPIA-959] remove mpo fields from intake form
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
Labels: DPIA Web App
