Repository bcgov/cirmo-dpia, pull requests merged in 2023-05, with the labels that each got.

#1144 [UTOPIA-951] update preview pdf after remove mpo fields
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/viewGeneralInformation.tsx
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
Labels: DPIA Web App

#1146 [UTOPIA-1023] add call out to tab storing personal information Assessment of disclosures outside of Canada section
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/messages.ts
Labels: DPIA Web App

#1147 [UTOPIA-930] [Backend] PPQ tab inside PIA
  src/backend/src/common/interfaces/form-field.interface.ts
  src/backend/src/common/validators/form-field-role.validator.ts
  src/backend/src/migrations/1682963468806-ppq-tab-for-pia.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/jsonb-classes/ppq/index.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#1145 [Utopia 932] build ppq tab
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/ppq/messages.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#1157 UTOPIA-1030: [FE] update next/back button navigation
  src/frontend/src/components/public/PIANavButton/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/constant/routes.ts
Labels: DPIA Web App

#1148 [UTOPIA-960] allow user submit pia from mpo_review to pct_review
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/messages.ts
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1158 [UTOPIA-1050] add ppq to pia pdf
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/interfaces.ts
  src/frontend/src/pages/PPQFormPage/PPQFormPage.scss
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/sass/_comment_sidebar.scss
  src/frontend/src/sass/_default.scss
  src/frontend/src/sass/_form.scss
  src/frontend/src/sass/_printPreview.scss
Labels: DPIA Web App

#1159 [UTOPIA-1083] do not show ppq tab in delegate pia pdf
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
Labels: DPIA Web App

#1160 UTOPIA-1091: Update PCT name to CPO
  src/frontend/src/components/public/PIAFormTabs/ppq/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/ppq/messages.ts
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/PPQConnect/messages.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/LandingPage/LandingPage.tsx
  src/frontend/src/pages/PIAForm/BannerStatus/messages.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/messages.ts
  src/frontend/src/pages/PPQFormPage/messages.ts
  src/frontend/src/pages/PPQPage/messages.ts
  src/frontend/src/pages/PiaFormPrintPreview/MessageSignatures.ts
  src/frontend/src/sass/_statusBlock.scss
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1161 [UTOPIA-360] updated PIA endpoints with newly added CPO role
  src/backend/src/common/constants/roles.constants.ts
  src/backend/src/common/enums/roles.enum.ts
  src/backend/src/common/enums/users.enum.ts
  src/backend/src/migrations/1683307849986-update-status-pctReview-to-cpoReview.ts
  src/backend/src/modules/pia-intake/constants/pia-intake-status.constant.ts
  src/backend/src/modules/pia-intake/enums/pia-intake-status.enum.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#1162 Update latest cypress version and update .end(),afterEach and new css
  src/frontend/cypress.config.ts
  src/frontend/cypress/e2e/login-page/loginpage.cy.ts
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1163 UTOPIA-1089: Remove Edit button when in CPO_Review
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1166 [UTOPIA-1014] allow drafter update field
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#1165 [UTOPIA-1077] allow drafter update field
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
Labels: DPIA Web App

#1167 UTOPIA-948: Inconsistent font
  src/frontend/src/sass/_font.scss
Labels: DPIA Web App

#1177 UTOPIA-790: CPO changing PIA status
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/utils/helper.util.ts
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1178 UTOPIA-1103: MPO does not have CPO Review option in status dropdown list
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1179 UTOPIA-1104: Multiple text fields accessible to only MPOs in Storing PI tab
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/messages.ts
Labels: DPIA Web App

#1180 Update backend logs to include uuid
  src/backend/src/app.config.ts
Labels: DPIA API

#1181 [UTOPIA-1058] increase time slot to generate pdf for pia
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
Labels: DPIA Web App

#1182 [UTOPIA-1075] List of PIA page
  src/frontend/cypress/e2e/homepage/homepage.cy.ts
Labels: DPIA Web App

#1185 UTOPIA-1103: Add 'CPO Review' to every status' privilege array for MPOs
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1187 [UTOPIA-1112] fix cpo update pia status throw 403 error
  src/backend/src/modules/pia-intake/pia-intake.service.ts
Labels: DPIA API

#1188 [UTOPIA-1118] Create WebdriverIO framework, Update CI/CD, Add test files
  .github/workflows/app-e2e.yaml
  .github/workflows/build-deploy-app.yaml
  .github/workflows/tag-deploy-app-test.yaml
  src/frontend/babel.config.js
  src/frontend/jsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/specs/LandingPage.spec.js
  src/frontend/test/specs/LoginPage.spec.js
  src/frontend/wdio.conf.js
Labels: DPIA Web App, Github Actions

#1189 [UTOPIA-1058]new-way-fix-pdf-missing-fields
  src/frontend/src/pages/PiaFormPrintPreview/PrintHeader.tsx
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
Labels: DPIA Web App

#1190 [[UTOPIA-1098] fix the pia intake print format lost issue
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/intakedetails.tsx
Labels: DPIA Web App

#1200 [UTOPIA-1098] fix pdf intake print format for scope field
  src/frontend/src/components/public/PIAFormTabs/intake/printPreview/intakedetails.tsx
Labels: DPIA Web App

#1201 [UTOPIA-1111] Create PIA, create test suites, update package and wdio.conf
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/specs/e2e/CreatePIA.spec.js
  src/frontend/test/specs/e2e/HomePage.spec.js
  src/frontend/test/specs/sanity/LandingPage.spec.js
  src/frontend/test/specs/sanity/LoginPage.spec.js
  src/frontend/test/testdata/userroles.json
  src/frontend/wdio.conf.js
Labels: DPIA Web App

#1202 Add idir and roles to the logs
  src/backend/src/app.config.ts
Labels: DPIA API

#1204 add submit logic and guid
  src/backend/src/common/helpers/base-helper.ts
  src/backend/test/util/mocks/data/comments.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/types/interfaces/keyCloakToken.interface.ts
  src/frontend/src/types/interfaces/keycloakUserInfo.interface.ts
  src/frontend/src/types/interfaces/pia-form.interface.ts
  src/frontend/src/utils/auth.ts
  src/frontend/src/utils/helper.util.ts
  src/frontend/src/utils/status.ts
Labels: DPIA API, DPIA Web App

#1217 [UTOPIA-1099] use uuid to check comment author instead of user login name
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/components/public/CommentsSidebar/interfaces.ts
Labels: DPIA Web App

#1205 UTOPIA-1114: CPO can't draft and submit a PIA
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1216 UTOPIA-1015: "Filter By Status" field is cut off for Drafter role
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
Labels: DPIA Web App

#1219 [UTOPIA-989] add aria-label for list page search icon btn
  src/frontend/src/components/common/SearchBox/index.tsx
Labels: DPIA Web App

#1206 [UTOPIA-1002]add banner info for cpo_review status
  src/frontend/src/pages/PIAForm/BannerStatus/index.tsx
  src/frontend/src/pages/PIAForm/BannerStatus/messages.ts
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1220 [UTOPIA-990] fix table sort by accessibility issue
  src/frontend/src/components/public/PIAListTable/TableOrdering.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
Labels: DPIA Web App

#1221 [UTOPIA-1150] make cpo and mpo both can see full filter options
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
Labels: DPIA Web App

#1222 [Utopia 993/1004] pagination accessibility fix
  src/frontend/src/components/common/Pagination/button.tsx
  src/frontend/src/components/common/Pagination/listPageNumber.tsx
  src/frontend/src/components/common/Pagination/rowsPerPage.tsx
Labels: DPIA Web App

#1224 Update duplicate status changes
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
Labels: DPIA Web App

#1226 [UTOPIA-1002] fix the banner display for cpo review status
  src/frontend/src/pages/PIAForm/BannerStatus/index.tsx
Labels: DPIA Web App

#1225 [UTOPIA-1007] add accessibility support for table
  src/frontend/src/components/public/PIAListTable/index.tsx
Labels: DPIA Web App

#1223 UTOPIA-1032: Missing labels for form elements, filters, searches, and buttons
  src/frontend/index.html
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/Dropdown/index.tsx
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/SearchBox/index.tsx
  src/frontend/src/components/common/Table/views/useTableRowView.tsx
  src/frontend/src/components/common/Table/views/useTableStandardView.tsx
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/index.tsx
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIANavButton/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/sass/_form.scss
Labels: DPIA Web App

#1227 [UTOPIA-993] fix typo
  src/frontend/src/components/common/Pagination/listPageNumber.tsx
Labels: DPIA Web App

#1228 [UTOPIA-595] removed unprotected from the logout endpoint
  src/backend/src/modules/auth/auth.controller.ts
Labels: DPIA API

#1230 [UTOPIA-991] make background picture only display on xxl size screen
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/pages/LandingPage/LandingPage.tsx
Labels: DPIA Web App

#1240 [UTOPIA-1127] Automate more scenarios to Full PIA and fix math.random
  src/frontend/test/specs/e2e/CreatePIA.spec.js
  src/frontend/wdio.conf.js
Labels: DPIA Web App

#1243 [UTOPIA-1007] adjusted aria labels for pia list table
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/sass/_table.scss
Labels: DPIA Web App

#1244 [UTOPIA-1013] make sure the auto save not route url to intake tab after create the pia
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App
