Repository bcgov/cirmo-dpia, pull requests merged in 2023-08, with the labels that each got.

#1426 UTOPIA-1330: Program area reviews not showing in Complete status
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewReviewSection.tsx
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1431 [UTOPIA-1328] Removed delete comments btn in Complete status
  src/frontend/src/components/public/CommentsSidebar/index.tsx
Labels: DPIA Web App

#1403 UTOPIA-1305: Adding S3 Config to API DC template
  openshift/templates/api/silver/api-dc-template.yaml
Labels: Openshift

#1441 UTOPIA-1349 Update passwords for individual IDIR
  .github/workflows/app-e2e.yaml
  .github/workflows/build-deploy-app.yaml
  .github/workflows/tag-deploy-app-test.yaml
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/features/pageobjects/login.page.js
Labels: DPIA Web App, Github Actions

#1445 [UTOPIA-1346] Removed cypress
  .github/workflows/app-e2e.yaml
  .github/workflows/build-deploy-app.yaml
  .github/workflows/tag-deploy-app-test.yaml
  .gitignore
  README.md
  src/frontend/cypress.config.ts
  src/frontend/cypress/component/common/Callout/callout.cy.tsx
  src/frontend/cypress/component/common/Card/card.cy.tsx
  src/frontend/cypress/component/common/Checkbox/checkbox.cy.tsx
  src/frontend/cypress/component/common/Navbar/navbar.cy.tsx
  src/frontend/cypress/component/common/footer.cy.tsx
  src/frontend/cypress/component/common/header.cy.tsx
  src/frontend/cypress/component/pages/LandingPage.cy.tsx
  src/frontend/cypress/component/pages/ppqpage.cy.tsx
  src/frontend/cypress/fixtures/example.json
  src/frontend/cypress/support/commands.ts
  src/frontend/cypress/support/component-index.html
  src/frontend/cypress/support/component.ts
  src/frontend/cypress/support/e2e.ts
  src/frontend/cypress/support/index.ts
  src/frontend/cypress/tsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/tsconfig.json
Labels: DPIA Web App, Github Actions

#1443 Utopia 1318 - role select UI
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1440 [UTOPIA-1304] add missing filter status
  src/frontend/src/constant/constant.ts
Labels: DPIA Web App

#1450 [UTOPIA-1356] Remove Complete status
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1448 UTOPIA-1307: (frontend) update submission button and modal
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/messages.ts
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1451 UTOPIA-1308: (backend) add new status
  src/backend/src/common/enums/size.enum.ts
  src/backend/src/modules/pia-intake/enums/pia-intake-status.enum.ts
  src/backend/src/modules/pia-intake/helper/check-field-validations.ts
  src/backend/src/modules/pia-intake/metadata/pia-status.metadata.ts
  src/backend/test/unit/pia-intake/handle-pia-status-change.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#1461 UTOPIA-1307 (update): Update state machine for submit button
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1462 [UTOPIA-1163] add MPO review status for incomplete PIA
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1449 [UTOPIA-1260] Increase size of text input field on collection/use/disclosure table
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/Table/interfaces.ts
  src/frontend/src/components/common/Table/views/useTableRowView.tsx
  src/frontend/src/components/common/Table/views/useTableStandardView.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/types/types/text.type.ts
Labels: DPIA Web App

#1464 UTOPIA-1387: Not able to submit a PIA while creation
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1466 [UTOPIA-966] Alphabetical Ministry Names in Drop Down List
  src/frontend/src/constant/constant.ts
Labels: DPIA Web App

#1478 [Snyk] Upgrade marked from 5.0.1 to 5.1.2
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1469 [UTOPIA-1248] (backend) create required PPQ fields
  src/backend/src/modules/pia-intake/jsonb-classes/ppq/index.ts
Labels: DPIA API

#1481 [UTOPIA-982] - 2 different UI styles for radio buttons
  src/frontend/src/components/common/Checkbox/_checkbox.scss
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/sass/_form.scss
Labels: DPIA Web App

#1480 [UTOPIA-1116] disable add button on empty comment
  src/backend/src/modules/comments/comments.service.ts
  src/frontend/src/components/public/CommentsSidebar/index.tsx
Labels: DPIA API, DPIA Web App

#1492 [UTOPIA-1399] Resolve CPO Review Issues
  src/backend/src/common/validators/form-field-role.validator.ts
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
Labels: DPIA API, DPIA Web App

#1493 [UTOPIA-982] - 2 different UI styles for radio buttons
  src/frontend/src/components/public/PIAFormTabs/ppq/index.tsx
Labels: DPIA Web App

#1494 Improved logout implementation
  src/backend/.config/.env.local
  src/backend/src/config/config.service.ts
  src/backend/src/modules/auth/auth.controller.ts
  src/backend/src/modules/auth/auth.service.ts
  src/backend/src/modules/auth/keycloack-token.model.ts
  src/backend/test/unit/auth/auth.controller.spec.ts
  src/backend/test/unit/auth/auth.service.spec.ts
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/components/common/Unauthorized/index.tsx
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/types/interfaces/keyCloakToken.interface.ts
  src/frontend/src/utils/auth.ts
Labels: DPIA API, DPIA Web App

#1495 [UTOPIA-1399] Fix clear review
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewCPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
Labels: DPIA Web App

#1463 UTOPIA-1310 Fill PPQ 616
  .gitignore
  src/frontend/.eslintrc.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/test/features/featurefiles/e2e/UTOPIA-616_FillPPQ.feature
  src/frontend/test/features/pageobjects/createPIA.page.js
  src/frontend/test/features/pageobjects/fillPPQ.page.js
  src/frontend/test/features/step-definitions/FillPPQ.js
  src/frontend/tsconfig.eslint.json
Labels: DPIA Web App

#1496 [UTOPIA-1262] Review Section missing in PDF
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/accuracy-retention-interface.ts
  src/frontend/src/components/public/PIAFormTabs/accuracyRetention/index.tsx
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/AdditionalRisks.ts
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/AgreementsAndInformationBanks.ts
  src/frontend/src/components/public/PIAFormTabs/agreementsAndInformationBanks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/CollectionUseAndDisclosure.ts
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewCPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/securityPersonalInformation/security-personal-info-interface.ts
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/interfaces.ts
  src/frontend/src/pages/PiaFormPrintPreview/index.tsx
Labels: DPIA Web App

#1505 [UTOPIA-1408] Reviewer permissions
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/displayProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/review/ProgamArea/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/accessControl.tsx
  src/frontend/src/components/public/PIAFormTabs/review/editReviewSection.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewCPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
  src/frontend/src/components/public/PIAFormTabs/storingPersonalInformation/index.tsx
  src/frontend/src/components/public/PIAIntakeFilter/index.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/index.tsx
  src/frontend/src/components/public/StatusChangeDropDown/populateModal.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PIAForm/BannerStatus/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/utils/helper.util.ts
  src/frontend/src/utils/status.ts
  src/frontend/src/utils/statusList/common.ts
  src/frontend/src/utils/statusList/modals.ts
  src/frontend/src/utils/statusList/statusList.ts
  src/frontend/src/utils/statusList/statuses/completeStatus.ts
  src/frontend/src/utils/statusList/statuses/cpoReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/editInProgressStatus.ts
  src/frontend/src/utils/statusList/statuses/finalReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/incompleteStatus.ts
  src/frontend/src/utils/statusList/statuses/index.ts
  src/frontend/src/utils/statusList/statuses/mpoReviewStatus.ts
  src/frontend/src/utils/statusList/statuses/pendingCompletionStatus.ts
  src/frontend/src/utils/statusList/types.ts
  src/frontend/src/utils/statusList/utils.ts
  src/frontend/src/utils/user.ts
Labels: DPIA Web App

#1506 Missed from UTOPIA-1408
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/utils/statusList/types.ts
Labels: DPIA Web App
