Repository bcgov/cirmo-dpia, pull requests merged in 2023-12, with the labels that each got.

#1868 [UTOPIA-1621] - Enter Button is not treated as a click throughout majority of application
  src/frontend/src/App.tsx
  src/frontend/src/components/common/Collapsible/index.tsx
  src/frontend/src/components/common/ImageMagnifier/index.tsx
  src/frontend/src/components/common/Pagination/listPageNumber.tsx
  src/frontend/src/components/public/PIAListTable/TableOrdering.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
  src/frontend/src/utils/keyboardAccessibility.tsx
Labels: DPIA Web App

#1872 UTOPIA-1539: Refactor side nav to use state machine
  src/backend/src/migrations/1701384855054-PiaNewIntakeProperty.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/helper/handle-pia-status-change.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/frontend/src/components/common/Navbar/index.tsx
  src/frontend/src/components/common/Navbar/interfaces.ts
  src/frontend/src/components/common/Navbar/navPages.ts
  src/frontend/src/components/public/PIANavButton/handleState.tsx
  src/frontend/src/components/public/PIANavButton/index.tsx
  src/frontend/src/components/public/PIANavButton/interface.ts
  src/frontend/src/components/public/PIASideNav/PiaFormSideNavPages.ts
  src/frontend/src/components/public/PIASideNav/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/utils/handleModal.ts
  src/frontend/src/types/interfaces/pia-form.interface.ts
  src/frontend/src/utils/autosave.ts
  src/frontend/src/utils/statusList/statuses/editInProgressStatus.ts
Labels: DPIA API, DPIA Web App

#1884 UTOPIA-1633: Patch/Minor Dependency Updates (Backend)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1873 UTOPIA-696: Added comment reply table
  src/backend/src/migrations/1701818277807-CreateReplyTable.ts
  src/backend/src/modules/comments/entities/comment.entity.ts
  src/backend/src/modules/comments/entities/reply.entity.ts
Labels: DPIA API

#1885 UTOPIA-1633: Patch/Minor Dependency Updates (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1891 UTOPIA-1539: Fix migration
  src/backend/src/migrations/1701983062936-FixNewIntakeColumn.ts
Labels: DPIA API

#1893 [UTOPIA-1593] - (Frontend) after Clicking on "add roles", "hide roles" should have a minus symbol
  src/frontend/src/components/public/PIAFormTabs/review/ProgramArea/AddHideRolesToggle.tsx
Labels: DPIA Web App

#1894 [UTOPIA-1566] - Clicking between ascending and descending changes column spacing
  src/frontend/src/sass/_table.scss
Labels: DPIA Web App

#1900 [UTOPIA-1639] - Disable "create new" function
  src/frontend/src/pages/PPQPage/PPQPage.tsx
Labels: DPIA Web App

#1892 UTOPIA-697: Comment Reply Endpoints
  src/backend/src/modules/comments/comments.controller.ts
  src/backend/src/modules/comments/comments.service.ts
  src/backend/src/modules/comments/dto/create-reply.dto.ts
  src/backend/src/modules/comments/ro/get-comment.ro.ts
  src/backend/test/unit/comments/comments.controller.spec.ts
  src/backend/test/unit/comments/comments.service.spec.ts
  src/backend/test/util/mocks/data/comments.mock.ts
Labels: DPIA API

#1890 UTOPIA-695: Comment Reply UI
  src/frontend/src/components/public/CommentsSidebar/CommentsSidebar.scss
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/components/public/CommentsSidebar/interfaces.ts
  src/frontend/src/sass/common.scss
Labels: DPIA Web App

#1901 UTOPIA-534: Fixes to comment replies
  src/backend/src/modules/comments/comments.module.ts
  src/backend/src/modules/comments/comments.service.ts
  src/frontend/src/components/public/CommentsSidebar/CommentsSidebar.scss
  src/frontend/src/components/public/CommentsSidebar/index.tsx
  src/frontend/src/constant/apiRoutes.ts
Labels: DPIA API, DPIA Web App

#1902 UTOPIA-1640: Update backend Readme
  src/backend/README.md
Labels: DPIA API

#1895 [UTOPIA-1586] Commenting on collection, use, and disclosure steps
  src/backend/src/migrations/1701897308159-add-uid-to-steps.ts
  src/backend/src/modules/comments/comments.controller.ts
  src/backend/src/modules/comments/comments.service.ts
  src/backend/src/modules/comments/dto/create-comment.dto.ts
  src/backend/src/modules/comments/dto/find-comments.dto.ts
  src/backend/src/modules/pia-intake/jsonb-classes/collection-use-and-disclosure/steps-walkthrough.ts
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/Table/index.tsx
  src/frontend/src/components/common/Table/interfaces.ts
  src/frontend/src/components/common/Table/views/messages.ts
  src/frontend/src/components/common/Table/views/table-view-props.interface.ts
  src/frontend/src/components/common/Table/views/useTableRowView.tsx
  src/frontend/src/components/common/ViewComment/interfaces.ts
  src/frontend/src/components/public/CommentsSidebar/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/additionalRisks/index.tsx
  src/frontend/src/components/public/PIAFormTabs/collectionUseAndDisclosure/index.tsx
  src/frontend/src/components/public/PIAFormTabs/intake/helper/pia-form-intake.interface.ts
  src/frontend/src/constant/apiRoutes.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/contexts/PiaFormContext.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/types/types/text.type.ts
Labels: DPIA API, DPIA Web App

#1903 UTOPIA-1634: Update patch/minor dependencies (Backend)
  src/backend/package-lock.json
  src/backend/package.json
Labels: DPIA API

#1904 UTOPIA-1634: Update patch/minor dependencies (Frontend)
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1917 UTOPIA-1614: Changed Makefile to npm scripts
  .github/workflows/api-unit-test.yaml
  .github/workflows/build-deploy-api.yaml
  .github/workflows/code-climate.yaml
  .github/workflows/emerald-build-push-api.yaml
  .github/workflows/pull-request-docker-build-api.yaml
  Makefile
  package.json
  src/backend/README.md
  src/backend/package-lock.json
Labels: DPIA API, Github Actions

#1918 Disabling workflows
  .github/workflows/api-npm-dep-report.yaml
  .github/workflows/app-npm-dep-report.yaml
  .github/workflows/e2e-npm-dep-report.yaml
  .github/workflows/zap-api-scan.yaml
  .github/workflows/zap-frontend-scan.yaml
Labels: Github Actions

#1919 Update Unit Test Workflow
  .github/workflows/api-unit-test.yaml
Labels: Github Actions

#1920 Added frontend readme
  src/frontend/README.md
Labels: DPIA Web App

#1921 Add information about autosave
  src/frontend/README.md
Labels: DPIA Web App
