Repository bcgov/cirmo-dpia, pull requests merged in 2023-06, with the labels that each got.

#1245 Utopia 991
  src/frontend/src/pages/LandingPage/LandingPage.scss
  src/frontend/src/sass/_variables.scss
Labels: DPIA Web App

#1248 [Utopia-990] make sort icon keyboard access
  src/frontend/src/components/public/PIAListTable/TableOrdering.tsx
  src/frontend/src/components/public/PIAListTable/index.tsx
Labels: DPIA Web App

#1249 [UTOPIA-1056] make left sidebar default open
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1247 yaml - high vulnerability fix
  src/backend/package-lock.json
Labels: DPIA API

#1250 UTOPIA-690: No 401 Error Page
  src/frontend/src/routes/router.tsx
Labels: DPIA Web App

#1261 [UTOPIA-1170] Generate Invite Code endpoint implementation with migration and test cases
  src/backend/src/app.module.ts
  src/backend/src/common/swagger.ts
  src/backend/src/migrations/1686005634115-invites-entity.ts
  src/backend/src/modules/comments/comments.service.ts
  src/backend/src/modules/invites/dto/generate-invite.dto.ts
  src/backend/src/modules/invites/entities/invite.entity.ts
  src/backend/src/modules/invites/invites.controller.ts
  src/backend/src/modules/invites/invites.module.ts
  src/backend/src/modules/invites/invites.service.ts
  src/backend/src/modules/invites/ro/get-invite.ro.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/comments/comments.service.spec.ts
  src/backend/test/unit/invites/invites.controller.spec.ts
  src/backend/test/unit/invites/invites.service.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/invites.mock.ts
  src/backend/test/util/mocks/services/comments.service.mock.ts
  src/backend/test/util/mocks/services/invites.service.mock.ts
  src/backend/test/util/mocks/services/pia-intake.service.mock.ts
Labels: DPIA API

#1263 UTOPIA-837: Login should return to PIA link if id is provided
  src/frontend/src/components/common/Header/Header.tsx
  src/frontend/src/routes/router.tsx
  src/frontend/src/utils/auth.ts
Labels: DPIA Web App

#1264 UTOPIA-837: Unauthorized page flow
  src/frontend/src/components/common/Unauthorized/index.tsx
Labels: DPIA Web App

#1265 [UTOPIA-1203] - Update the new cucumber framework
  .github/workflows/app-e2e.yaml
  .github/workflows/tag-deploy-app-test.yaml
  src/frontend/cypress/e2e/homepage/homepage.cy.ts
  src/frontend/cypress/e2e/landing-page/landingpage.cy.ts
  src/frontend/cypress/e2e/login-page/loginpage.cy.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/test/features/featurefiles/e2e/login.feature
  src/frontend/test/features/featurefiles/sanity/home.feature
  src/frontend/test/features/pageobjects/home.page.js
  src/frontend/test/features/pageobjects/login.page.js
  src/frontend/test/features/pageobjects/page.js
  src/frontend/test/features/step-definitions/Homesteps.js
  src/frontend/test/features/step-definitions/Loginsteps.js
  src/frontend/test/specs/e2e/CreatePIA.spec.js
  src/frontend/test/specs/e2e/HomePage.spec.js
  src/frontend/test/specs/sanity/LandingPage.spec.js
  src/frontend/test/specs/sanity/LoginPage.spec.js
  src/frontend/test/testdata/userroles.json
  src/frontend/wdio.conf.js
Labels: DPIA Web App, Github Actions

#1266 [UTOPIA-1172] [UTOPIA-1173] [UTOPIA-1195] - Invitee entity added + provide access to PIA with invite_code + invitee shown in list view + CPO can filter to see PIA not in CPO_REVIEW
  docs/flows/Access Link - PIA Invite Flow.png
  docs/flows/PIA Backend Comments.png
  docs/flows/PIA Frontend Comments.png
  src/backend/src/app.module.ts
  src/backend/src/migrations/1686255697191-invitees-entity.ts
  src/backend/src/modules/invitees/entities/invitee.entity.ts
  src/backend/src/modules/invitees/invitees.module.ts
  src/backend/src/modules/invitees/invitees.service.spec.ts
  src/backend/src/modules/invitees/invitees.service.ts
  src/backend/src/modules/invites/invites.module.ts
  src/backend/src/modules/invites/invites.service.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/pia-intake.controller.ts
  src/backend/src/modules/pia-intake/pia-intake.module.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/comments/comments.service.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.controller.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/invitee.mock.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
  src/backend/test/util/mocks/services/invitees.service.mock.ts
  src/backend/test/util/mocks/services/invites.service.mock.ts
Labels: DPIA API

#1267 [UTOPIA-1170] build failure fix - uuid generator extension does not e…
  src/backend/src/migrations/1686005634115-invites-entity.ts
Labels: DPIA API

#1269 [UTOPIA-1170] [Build fix attempt #2] moved UUID generator from Db to API
  src/backend/src/migrations/1686005634115-invites-entity.ts
  src/backend/src/modules/invites/entities/invite.entity.ts
  src/backend/src/modules/invites/invites.service.ts
  src/backend/test/unit/invites/invites.service.spec.ts
  src/backend/test/util/mocks/data/invites.mock.ts
Labels: DPIA API

#1268 UTOPIA-1207 Add afterScenario and refactor code
  src/frontend/test/features/featurefiles/e2e/home.feature
  src/frontend/test/features/featurefiles/sanity/login.feature
  src/frontend/test/features/pageobjects/home.page.js
  src/frontend/test/features/pageobjects/login.page.js
  src/frontend/test/features/step-definitions/Homesteps.js
  src/frontend/test/features/step-definitions/Loginsteps.js
  src/frontend/wdio.conf.js
Labels: DPIA Web App

#1270 [UTOPOA-1209] invitee and pia test cases + indexes for query performance improvements
  src/backend/src/migrations/1686612137851-add-invitee-index-piaId-createdByGuid.ts
  src/backend/src/modules/invitees/entities/invitee.entity.ts
  src/backend/src/modules/invitees/invitees.service.spec.ts
  src/backend/test/unit/invitees/invitees.service.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#1283 [UTOPIA-1153] add review column in the PIA entity + roles + test cases
  src/backend/src/common/validators/form-field-role.validator.ts
  src/backend/src/migrations/1686769976593-pia-review-jsonb-column.ts
  src/backend/src/modules/pia-intake/dto/create-pia-intake.dto.ts
  src/backend/src/modules/pia-intake/entities/pia-intake.entity.ts
  src/backend/src/modules/pia-intake/jsonb-classes/collection-use-and-disclosure/collection-notice.ts
  src/backend/src/modules/pia-intake/jsonb-classes/collection-use-and-disclosure/index.ts
  src/backend/src/modules/pia-intake/jsonb-classes/collection-use-and-disclosure/steps-walkthrough.ts
  src/backend/src/modules/pia-intake/jsonb-classes/ppq/index.ts
  src/backend/src/modules/pia-intake/jsonb-classes/review/index.ts
  src/backend/src/modules/pia-intake/jsonb-classes/review/mpo-review.ts
  src/backend/src/modules/pia-intake/jsonb-classes/review/program-area-review.ts
  src/backend/src/modules/pia-intake/mocks/create-pia-intake.mock.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
  src/backend/test/util/mocks/data/pia-intake.mock.ts
Labels: DPIA API

#1282 UTOPIA-782: Changing Image Pull Policy for Emerald Deployment
  openshift/templates/api/emerald/api-dc-template.yaml
Labels: Openshift

#1281 UTOPIA-1154: Disallow URL navigation to Edit mode when in Signature mode
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1287 [UTOPIA-1153] adding review submission fields
  src/backend/src/modules/pia-intake/jsonb-classes/review/mpo-review.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
Labels: DPIA API

#1288 UTOPIA-1224: Vite Server options (server.fs.deny) can be bypassed using a double forward-slash
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: DPIA Web App

#1290 UTOPIA-838: Amend copy & link selection
  src/frontend/src/components/common/InputText/InputText.tsx
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/public/PIASubHeader/messages.ts
Labels: DPIA Web App

#1284 UTOPIA-1223 Create authenticated, unauthenticated, logout landing Regression test case
  src/frontend/test/features/featurefiles/e2e/UTOPIA-581_authenticated.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-582_unauthenticated.feature
  src/frontend/test/features/featurefiles/e2e/UTOPIA-584_SearchSortFilter.feature
  src/frontend/test/features/featurefiles/e2e/home.feature
  src/frontend/test/features/featurefiles/sanity/UTOPIA-539_landing.feature
  src/frontend/test/features/featurefiles/sanity/UTOPIA-564_login.feature
  src/frontend/test/features/featurefiles/sanity/UTOPIA-580_logout.feature
  src/frontend/test/features/pageobjects/authenticated.page.js
  src/frontend/test/features/pageobjects/home.page.js
  src/frontend/test/features/pageobjects/landing.page.js
  src/frontend/test/features/pageobjects/login.page.js
  src/frontend/test/features/pageobjects/page.js
  src/frontend/test/features/pageobjects/searchsortfilter.page.js
  src/frontend/test/features/step-definitions/Authenticated.js
  src/frontend/test/features/step-definitions/Landingsteps.js
  src/frontend/test/features/step-definitions/Loginsteps.js
  src/frontend/test/features/step-definitions/SearchSortFilter.js
  src/frontend/wdio.conf.js
Labels: DPIA Web App

#1289 UTOPIA-1176 & 1156: (frontend) update modal, statuses, and transitions
  src/frontend/src/components/common/Modal/_modal.scss
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/sass/_statusBlock.scss
  src/frontend/src/sass/_variables.scss
  src/frontend/src/utils/status.ts
Labels: DPIA Web App

#1292 [UTOPIA-1155] delete review on status revert
  src/backend/src/modules/pia-intake/enums/pia-intake-status.enum.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#1303 Handled Status Transitions for Final Review status
  src/backend/src/modules/pia-intake/helper/handle-pia-status-change.ts
  src/backend/src/modules/pia-intake/metadata/pia-status.metadata.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/handle-pia-status-change.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#1293 Utopia 1152
  src/frontend/src/components/common/Checkbox/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/review/messages.ts
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/constant/constant.ts
  src/frontend/src/constant/routes.ts
  src/frontend/src/routes/router.tsx
  src/frontend/src/sass/_buttons.scss
  src/frontend/src/types/interfaces/pia-form.interface.ts
Labels: DPIA Web App

#1304 [Utopia 1152] sub header change
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/constant/constant.ts
  src/frontend/src/pages/PIAForm/index.tsx
  src/frontend/src/pages/PIAForm/messages.ts
Labels: DPIA Web App

#1321 UTOPIA-1231 Update Sort functionality with validation
  src/frontend/test/features/featurefiles/e2e/UTOPIA-584_SearchSortFilter.feature
  src/frontend/test/features/pageobjects/page.js
  src/frontend/test/features/pageobjects/searchsortfilter.page.js
  src/frontend/test/features/step-definitions/SearchSortFilter.js
Labels: DPIA Web App

#1310 [UTOPIA-1152] update mpo review section ui
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
  src/frontend/src/components/public/PIAFormTabs/review/interfaces.ts
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA API, DPIA Web App

#1311 [UTOPIA-1078] Test cases for pia-intake.service.ts
  src/backend/src/modules/pia-intake/helper/handle-pia-updates.ts
  src/backend/src/modules/pia-intake/pia-intake.service.ts
  src/backend/test/unit/pia-intake/handle-pia-updates.spec.ts
  src/backend/test/unit/pia-intake/pia-intake.service.spec.ts
Labels: DPIA API

#1323 UTOPIA-1237: Create Missing UI
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
Labels: DPIA Web App

#1325 [UTOPIA-1185] fix edit review button disappear issue
  src/frontend/src/components/public/PIAFormTabs/review/viewMPOReview.tsx
  src/frontend/src/components/public/PIAFormTabs/review/viewProgramArea.tsx
Labels: DPIA Web App

#1326 [UTOPIA-1238] hide review tab after change status from final_review to incomplete/edit_in_progress
  src/frontend/src/components/public/PIASideNav/pia-form-sideNav-pages.ts
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1327 [Utopia 1253] update btn text
  src/frontend/src/components/public/PIASubHeader/index.tsx
  src/frontend/src/pages/PIAForm/index.tsx
Labels: DPIA Web App

#1328 [UTOPIA-1256] add space for required text and review note
  src/frontend/src/components/public/PIAFormTabs/review/index.tsx
Labels: DPIA Web App

#1329 [UTOPIA-1259] update word
  src/frontend/src/components/public/PIAFormTabs/review/viewReviewSection.tsx
Labels: DPIA Web App
